/* Move down content because we have a fixed navbar that is 50px tall */

/*.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }*/


body {
  padding-top: 50px;
  position:relative;
  margin-bottom: 0px;
}

a.logo{
    max-height: 40px;
    overflow: visible;
    padding-top: 10px;
	
}

.login-form{
	
	height:26px;
}

.bg-header{
	
	background-image: url('../img/cover.jpg');
	background-size:cover;
	height:350px;
	background-repeat:no-repeat;
	box-shadow: 0px 4px 12px #aaaaaa;
}
.bg-headerabout{
	
	background-image: url('../img/aboutcover.jpg');
	background-size:cover;
	height:350px;
	background-repeat:no-repeat;
	box-shadow: 0px 4px 12px #aaaaaa;
}

.search-text{
	font-family:'Open Sans', 'SegoeUI', Helvetica, Arial, sans-serif;
	margin-top:0px;
	font-weight:400;
	
}

.search-form{
	box-shadow: 0px 0px 8px #555555;
	
}

.body-head{
	
	font-family:'Open Sans', 'SegoeUI', Helvetica, Arial, sans-serif;
	font-size:18px;
	color:#333;
	text-transform:uppercase;
	font-weight:400;
	margin-bottom:5px;
}


.reviewer-pic{
max-height:60px;
	
}

.green{
	color:#77AD6F;
	
}

.red{
	
	color:#cc0000;
}

/* SIDEBAR STUFF */
.sidebar-nav-fixed {
	
/*
	top:30px;
	width:250px;
	*/	
}

.sidebar-nav-fixed .nav > li > a {
	padding-left:5px;
	padding-bottom:2px;
	padding-top:5px;
	font-size:16px;

	
}

.sidebar-nav-fixed .nav .nav > li > a {
	padding-left:20px;
	padding-top:0px;
	padding-bottom:2px;
	font-size:90%;
}

.sidebar-nav-fixed .nav .nav .nav > li > a {
	padding-left:40px;
	padding-top:0px;
	padding-bottom:2px;
	font-size:90%;

}

.sidebar-nav-fixed .nav .nav .nav .nav > li > a {
	padding-left:60px;
	padding-top:0px;
	padding-bottom:2px;
	font-size:90%;

}


.sidebar-text{
	padding-left:10px;
	padding-right:10px;
	
}

.sidebar-divider{
	
	margin-top: 10px;
	margin-left:10px;
	margin-right:20px;
	margin-bottom: 0px;
	border: 0;
	border-top: 1px solid #D5D5D5;
}

.affix{

top:-750px;
	
}

.sidebar-link{
	
	color:#666;
	
}


}

.pad-50{
	padding-top:30px;
	
}

.pad-20{
	padding-top:10px;
	
}


.main-content-padded{
	padding-left: 300px;
	
}

.sortby{
	padding-top:5px;
	
}

.slider-style{
	padding-left:10px;
	padding-right:10px;
	
}

/*BADGES*/


.multicolor-colour{ color:#fff;	

}
.aqua-colour{ color:aqua;	}
.beige-colour{ color:beige;	
	-webkit-text-stroke-color: #ccc;	
	-webkit-text-stroke-width: 1px;
}
.black-colour{ color:black;	}
.blue-colour{ color:blue;	}
.brown-colour{ color:brown;	}
.cherry-colour{ color:#C40000;	}
.coffee-colour{ color:#5A352D;	}
.copper-colour{ color:#7A5830;}
.cream-colour{ color:#F2EEDB;
	-webkit-text-stroke-color: #ccc;	
	-webkit-text-stroke-width: 1px;
}
.fuchsia-colour{ color:fuchsia;}
.gold-colour{ color:gold;}
.green-colour{ color:green;}
.grey-colour{ color:grey;}
.ivory-colour{ color:ivory;
	-webkit-text-stroke-color: #ccc;	
	-webkit-text-stroke-width: 1px;
}
.lemon-colour{ color:#FFFF78;
	-webkit-text-stroke-color: #ccc;	
	-webkit-text-stroke-width: 1px;
}
.lilac-colour{ color:#BE80FF;}
.lime-colour{ color:lime;}
.magenta-colour{ color:magenta;}
.maroon-colour{ color:maroon;}
.mauve-colour{ color:#E0B0FF;}
.mustard-colour{ color:#FFDB58;}
.nude-colour{ color:#FFEDD5;
	-webkit-text-stroke-color: #ccc;	
	-webkit-text-stroke-width: 1px;

}
.olive-colour{ color:olive;}
.orange-colour{ color:orange;}
.peach-colour{ color:#FFBCA5;}
.pink-colour{ color:pink;}
.purple-colour{ color:purple;}
.red-colour{ color:red;}
.rust-colour{ color:#B7410E;}
.silver-colour{ color:silver;}
.turquoise-colour{ color:turquoise;}
.violet-colour{ color:violet;}
.white-colour{ color:white;
	-webkit-text-stroke-color: #ccc;	
	-webkit-text-stroke-width: 1px;
}
.wine-colour{ color:#722F37; }
.yellow-colour{ color:yellow;
	-webkit-text-stroke-color: #ccc;	
	-webkit-text-stroke-width: 1px;
}




/*SLIDERS*/

.slider-label{
	display:inline-block;
	
}
.inline1{
	
	display:inline-block;
}

/*STORE PAGE*/

.storebg-header{
	

	height:250px;
	box-shadow: 0px 0px 12px #aaaaaa;
}
.store-header{
	
	font-family:'Open Sans', 'SegoeUI', Helvetica, Arial, sans-serif;
	padding-top:200px;
	padding-left:20px;
	font-size:24px;
	color:#ffffff;	
		font-weight:400;
	
}

.reviewer-header{
	
	font-family:'Open Sans', 'SegoeUI', Helvetica, Arial, sans-serif;
	padding-top:200px;
	padding-left:20px;
	font-size:24px;
	color:#ffffff;	
		font-weight:400;
	
}
.reviewer-main-pic{
	
	padding-top:150px;
	
}

.right-border{
	border-right: 1px solid #cccccc;
}

.left-border{
	border-left: 1px solid #cccccc;
}

.small-icon{
	font-size:20px;
	color:#c8006d;
	
}

.img-enlarged{
	box-shadow: 0px 0px 12px #ddd;
	border: 1px solid #eee;
	
}

.gold{
	color: #E5C100;
}

.subtext{
font-size:13px;
margin-left:15px;
	
}

/*PRODUCT PAGE*/
.product-header{
	
	font-family:'Open Sans', 'SegoeUI', Helvetica, Arial, sans-serif;

	font-size:24px;
	color:#666;	
		font-weight:400;
}


/*LOGIN MODAL*/

.modal-form{
	
	padding-top: 130px;
	width: 600px;
	
}

.btn-google{
	background-color:#df4a32;	
}

.btn-facebook{
	background-color:#5f78ae;	
	display: inline-block;	
}
.btn-facebook:hover{
	background-color:#4F6694;	
	display: inline-block;	
}


.facebook-login-icon{
	   line-height: 50px;
	 vertical-align: middle;
	display:inline-block;
}

.facebook-login-text{
	 vertical-align: middle;
	width:90%;
		display:inline-block;
}


.fb-icon{
	color:#5f78ae;	
	text-decoration:none;
}
.fb-icon:hover {
	color:#495D86;
	
}

.tw-icon{
	color:#4099FF;	
}
.tw-icon:hover{
	color:#2B6AAF;	
}

.pi-icon{
	color:#c92228;	
}

.pi-icon:hover{
	color:#91171C;	
}

.subhead{

	border-bottom:thin solid #999;
	
}

.carousel-arrow{
	position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  display: inline-block;
	
}

.reviewer-cover{
	
	background-image: url('../img/reviewer-cover.jpg');
	height:250px;
	box-shadow: 0px 0px 12px #aaaaaa;
}

/*CHECKBOXES */

input[type=checkbox] {  
    display: none;  
}  

.checkbox .checklabel:before {  
    border-radius: 0px;  
}  

input[type=checkbox]:checked + .checklabel:before {  
    content: "\2713";  
    font-size: 12px;  
    color: #666;  
    text-align: center;  
    line-height: 15px;  
}  	

.checklabel {  
    display: inline-block;  
    cursor: pointer;  
    position: relative;  
    padding-left: 25px;  
    margin-right: 15px;  
    font-size: 11px;  
}  

 .checklabel:before  {  
    content: "";  
    display: inline-block;  
  
    width: 16px;  
    height: 16px;  
  
    margin-right: 10px;  
    position: absolute;  
    left: 0;  
    bottom: 1px;  
    background-color: #fff;
    border: 1px solid #ccc;  

}  

.disabled{

	color:#999 !important;
}

.price{
font-family:'Open Sans', 'SegoeUI', Helvetica, Arial, sans-serif;
font-weight:700;
color:#666;
}

em{
font-family:'Open Sans', 'SegoeUI', Helvetica, Arial, sans-serif;
	font-weight:400;

}

.dropdownheader{
	margin-left:10px;
}

.navbarform{
border:1px solid #fff;

}

.examplesearch{

	margin-left:500px;
	font-size:14px;
}

.sidecontent{

	margin-bottom:5px;
}

.icon{

	color:#c8006d;
}
.quickView{

position: absolute;
bottom: 150px;
right: 63px;
display: none;
z-index: 9;
}
.homecontainer{
margin-left:auto;
margin-right:auto;

}
.searchexample{

font-size:12px;
font-weight:400;
}

.home-subhead{
margin-top:5px;
font-weight:400;
font-size:16px;
font-family: 'Open Sans', 'SegoeUI', Helvetica, Arial, sans-serif;
color:#333;
}

.jumbo-hr{
border-top: 1px solid #aaa;

}

.searchtoggle{
  font-size:14px;
  font-weight:400;
  min-height:45px;
  width:120px;

}

.searchdropdown{
font-size:14px;
text-align:left;

}

.help{

	text-align:right;

}

.help > a {


}

.help > a:hover,  
.help > a:focus 
{
  color: #c8006d;
  text-decoration: none;
  cursor:pointer;
}

.help-img{
display:none;

}

.home-in{
	width: 2%;
}
.helpbtn{
	color:#eee;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;	
}

html, body {
  height: 100%;
}


#main {
  overflow:auto;
  padding-bottom:80px; /* this needs to be bigger than footer height*/
}


.footer {

    height: 50px; 
    width:100%;
    position: absolute;
    left: 0;
    bottom: 0; 

  padding-top:15px;
  padding-right:15px;
	text-align:right;
	background-color: #eeeeee;
	box-shadow: 0px 4px 12px #aaaaaa;
	border-top: 1px solid #dddddd;
}

#holder{
    min-height: 100%;
    position:relative;
}

#body{
    padding-bottom: 50px;    /* height of footer */
}



.main-product-image{


}
.thumb-product-image{
padding:3px;
border: 1px solid #eee;
margin:2px;
width:30%;
height:auto;
display:inline;
}
.thumb-product-image:hover,
.thumb-product-image:active{

	border:1px solid #c8006d;
}

.featured-store-pic{

	width:100%;
	height:auto;

}

h1,h2,h3,h4,h5,h6{
	text-transform:capitalize;
}

 .featured-store-description{

  display: block; /* Fallback for non-webkit */
  
  display: -webkit-box;
  max-width: 400px;
  height:54px;
  margin-bottom:5px;

  line-height: 1.4;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list > div {
	padding: 5px;
    display: inline-block;
    
}

.list-store > div {
	padding: 5px;
    display: inline-block;
    height:350px;
}

.thumb{
	height:400px;
}

.thumb-store{
	height:290px;

}

.thumb-storepage{
	height:380px;
}

.sentence-case{
	text-transform:capitalize;
}

.storename{
	color:#c8006d;
	text-transform:uppercase;
	font-weight:700;
	font-size:12px;
	margin:1px;
	text-overflow:ellipsis;

}

.storename-storesearch{
	color:#c8006d;
	text-transform:uppercase;
	font-weight:700;
	font-size:14px;
	margin:1px;
	text-overflow:ellipsis;

}

.marketname{
text-transform: uppercase;
font-size: 10px;
font-weight: 700;
color: #666;
}

.marketname-storesearch{
text-transform: uppercase;
font-size: 11px;
font-weight: 700;
color: #666;
}

.productname{

font-size:12px;
margin:1px;
/*  display: block; 
  
  display: -webkit-box;

  margin-bottom:5px;

  line-height: 1.4;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
*/
}

.productname_holder{
	height:34px;
	overflow:hidden;
}

.storename_holder{
white-space:nowrap; 
overflow:ellipsis; 

}

.productname-store{

  display: block; /* Fallback for non-webkit */
  
  font-size:12px;


  margin-bottom:5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;	
}

.imgholder{

	height:291px;
	text-overflow:hidden;
	overflow:hidden;
	white-space:nowrap;	

}

.storesearch-imgholder{

	height:176px;

	text-overflow:hidden;
	overflow:hidden;
	white-space:nowrap;	
}

.imgholder-store{

	height:260px;
}

.price-product-page{
font-weight:700;
font-size:24px;
}

.price-productsearch-page{
font-weight:700;
font-size:16px;
}

.price-home-page{
font-weight:700;
font-size:18px;
margin-bottom:5px;
}

.strike-price-product-page{
	text-decoration:line-through;
	color:#aaa;

}

.discount-productsearch-page{
	font-weight:400;

}

.resultstext{

	font-family: 'Open Sans', 'SegoeUI', Helvetica, Arial, sans-serif;
	font-style:italic;
	color:#666;
	font-size:14px;
	margin-bottom:5px;

}

.strike-price-productsearch-page{
	text-decoration:line-through;
	color:#aaa;
	font-weight:400;
	font-size:13px;

}

.storename-productpage{
	text-transform:uppercase;
	font-size:18px;
	font-weight:700;
}

.tabrow{
	margin-left:0px;
	margin-right:0px;
}

.thumb-storepage{
	height:auto;
	
}

.featured-store-thumbnail{
	height:378px;
}

.featured-product-description{
	font-family: 'PT Serif', serif;
	font-style:italic;
	color:#666;
	font-size:16px;
	margin-bottom:5px;
}

.featured-product-storename{
	text-transform:uppercase;
	margin-top:6px;
	font-size:14px;
	color:#666;
	font-weight:700;
}

.product-name-home{
	margin-top:3px;
	margin-bottom:4px;
	font-size:15px;
}

.productthumbnail-storepage{
	max-height:250px;
}

/*.seemore {
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}*/

.seemore {
  display: block;
  padding: 3px 10px;
  clear: both;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
  margin-left:0px;
}


.seemore:hover,
.seemore:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #c8006d;
}

.filter-box{
max-height:200px;
overflow-y:scroll;
overflow-x:hidden;
}

.one-line-overflow{
	text-overflow:ellipsis;
	overflow:hidden; 	
	white-space:nowrap;
}

.storesearch-description{

  display: block; /* Fallback for non-webkit */
  
  display: -webkit-box;
  max-width: 400px;
  height:45px;
  margin-bottom:5px;
  font-size:11px;
  line-height: 1.4;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;


}

.refreshbutton{
	border-radius:60px;


}

.oneliner{
	color:#eee;
	margin-left:16px;
	font-size:20px;
	font-weight:300;
}

.boldoneliner{
	font-weight:400;
}

.designerlist:hover, 
.designerlist:focus{
	background:#eee;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;		
}
.designerlist{
	background:#fff;
  -webkit-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out;			
}

.heirarchy-separator{
padding-left:4px;
padding-right:4px;
color:#ccc;

}

.seemorebutton{
	border:none;
	padding-top:5px;
	font-size:13px;
	color:#fff;
	background:#c8006d;
	width:100%;
  -webkit-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out;			
}
.seemorebutton{
	  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;		
}
