  <!-- Main jumbotron for a primary marketing message or call to action -->

    <div class="jumbotron bg-headerabout container-fluid">

      <div class="container homecontainer">
      	<div class="row">

       </div>
		
      </div>
  </div>

  <div class="container">
  	<h2>Say hi to the team!</h2><br>
		<div class="row">



		  <div class="col-lg-2 col-lg-offset-1">
		    <div class="thumbnail">
		      <img src="../static/img/pranav-pic.jpg" alt="...">
		      <div class="caption">
		        <h4>Pranav Gupta</h4>
		      </div>
		    </div>
		  </div>
		  
		  <div class="col-lg-2">
		    <div class="thumbnail">
		      <img src="../static/img/nitish-pic.jpg" alt="...">
		      <div class="caption">
		        <h4>Nitish Bhushan</h4>
		      </div>
		    </div>
		  </div>

		  <div class="col-lg-2">
		    <div class="thumbnail">
		      <img src="../static/img/kartik-pic.jpg" alt="...">
		      <div class="caption">
		        <h4>Kartik Dhar</h4>
		      </div>
		    </div>
		  </div>




		  <div class="col-lg-2">
		    <div class="thumbnail">
		      <img src="../static/img/agam-pic.jpg" alt="...">
		      <div class="caption">
		        <h4>Agam Dua</h4>
		      </div>
		    </div>
		  </div>		  		  


		  <div class="col-lg-2">
		    <div class="thumbnail">
		      <img src="../static/img/harsh-pic.jpg" alt="...">
		      <div class="caption">
		        <h4>Harshdeep Sinha</h4>
		      </div>
		    </div>
		  </div>	



		</div><br>
		<div class="row">

		  <div class="col-lg-2 col-lg-offset-1">
		    <div class="thumbnail">
		      <img src="../static/img/tripti-pic.jpg" alt="...">
		      <div class="caption">
		        <h4>Tripti Chouhan</h4>
		      </div>
		    </div>
		  </div>

		  <div class="col-lg-2">
		    <div class="thumbnail">
		      <img src="../static/img/prabhakar-pic.jpg" alt="...">
		      <div class="caption">
		        <h4>Prabhakar Kumar</h4>
		      </div>
		    </div>
		  </div>

		  <div class="col-lg-2">
		    <div class="thumbnail">
		      <img src="../static/img/shubham-pic.jpg" alt="...">
		      <div class="caption">
		        <h4>Shubham Lodha</h4>
		      </div>
		    </div>
		  </div>

		  <div class="col-lg-2">
		    <div class="thumbnail">
		      <img src="../static/img/shimali-pic.jpg" alt="...">
		      <div class="caption">
		        <h4>Shimali Singh</h4>
		      </div>
		    </div>
		  </div>		  		  


		  <div class="col-lg-2">
		    <div class="thumbnail">
		      <img src="../static/img/you-pic.jpg" alt="...">
		      <div class="caption">
		        <h4>Are you next?</h4>
		      </div>
		    </div>
		  </div>	



		</div><br><br>
  </div>
