<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">	
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
				<h4 class="modal-title body-head" style="display:inline">Supernet Cotton Saree </h4>

				<div class="subtext">Rating: 
					<span class="gold">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star-half-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
					</span> 2 Ratings | 
					<a href="#">1 Review</a>
				</div>
			</div>
			<div class="modal-body">
				<div class="container">
					<div class="row">

						<!--Image-->
						<div class="col-lg-7">

							<img class="img-enlarged" src="img/featured-product-2.jpg" alt="...">


						</div>


						<!--RHS content of modal-->
						
						<div class="col-lg-5">

							<div class="row modalcontent">
								<div class="col-lg-4">
									Price: 

								</div>
								<div class="col-lg-8">
									<p>		<i class="fa fa-rupee"></i> 5,000 (0% Discount)</p>

								</div>
							</div>


							<div class="row modalcontent">
								<div class="col-lg-4">
									Colour: 

								</div>
								<div class="col-lg-8">
									<p>	<i class="fa fa-circle purple-colour"></i>	Purple </p>

								</div>
							</div>

							<div class="row modalcontent">
								<div class="col-lg-4">
									Size: 

								</div>
								<div class="col-lg-8">
									<p>			Free Size</p>

								</div>
							</div>

							<div class="row modalcontent">
								<div class="col-lg-4">
									Material

								</div>
								<div class="col-lg-8">
									<p> Silk</p>

								</div>
							</div>

							<div class="row modalcontent">
								<div class="col-lg-8 col-lg-offset-2">
									<div class="alert alert-success"><p class="text-center">In Stock!</p></div>
								</div>
							</div>																																	
							<hr>
							<div class="row modalcontent">
								<div class="col-lg-12"><h4>XYZ Store</h4></div>
								<div class="col-lg-2">
									<i class="fa fa-phone fa-lg icon"></i>
								</div>
								<div class="col-lg-10">
									<p>011-25930253</p>
								</div>
							</div>
							<div class="row modalcontent">
								<div class="col-lg-2">
									<i class="fa fa-location-arrow fa-lg icon"></i>
								</div>
								<div class="col-lg-10">
									<p>23, Abc Road, New Delhi - 110033</p>
								</div>
							</div>

							<div class="row modalcontent">
								<div class="col-lg-2">
									<i class="fa fa-clock-o fa-lg icon"></i>
								</div>
								<div class="col-lg-10">
									<p>10AM - 10PM</p>
								</div>
							</div>
							<br>
							<button class="btn btn-default" onClick="window.location.href='ProductHome-test.html'">See More Details &raquo;</button>
							<button class="btn btn-default" onClick="window.location.href='StoreHome-test.html'">Visit Store &raquo;</button>
							<br>

						</div>

					</div>
				</div>
			</div>

		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
