<div class="container pad-50" id="main"  ><br>
		<div class="row">
			<div class="col-lg-12">	

  <h3>Over 35 designers & stores on board, and growing rapidly!</h3><br>
</div>
</div>
  <div class="row">
  	<div class="col-lg-4">
<div class="list-group">  	
	<h4><b>A-L</b></h4>
  <a href="/store/1" class="list-group-item designerlist">1600 AD</a>
  <a href="/store/2" class="list-group-item designerlist">Abjeni by Soumya Pahwa</a>
  <a href="" tooltip-placement="bottom" tooltip="Coming Soon!" class="list-group-item designerlist">Akhilesh by Akhilesh Pahwa</a>
  <a href="" tooltip-placement="bottom" tooltip="Coming Soon!" class="list-group-item designerlist">Anubhav & Sneha</a>
  <a href="/store/3" class="list-group-item designerlist">Ashfaque Ahmad</a>
  <a href="/store/4" class="list-group-item designerlist">Aum by Ashima & Asit</a>
  <a href="" tooltip-placement="bottom" tooltip="Coming Soon!" class="list-group-item designerlist">B.L.O by Mahima Bedi</a>
  <a href="/store/5" class="list-group-item designerlist">Cita9 Design studio</a>
  <a href="/store/6" class="list-group-item designerlist">D'Closet by Shruti Dudani</a>
  <a href="" tooltip-placement="bottom" tooltip="Coming Soon!" class="list-group-item designerlist">Diva Couture by Divya Israni</a>
  <a href="/store/7"  class="list-group-item designerlist">Emerald by Amitaabh & Tripti Malhotra</a>
  <a href="/store/8" class="list-group-item designerlist">Heritage by Aanchal</a>
  <a href="/store/9" class="list-group-item designerlist">Ikai by Ragini Ahuja</a>
  <a href="" tooltip-placement="bottom" tooltip="Coming Soon!" class="list-group-item designerlist">Inchee tape by Purvi & Sharad</a>
  <a href="/store/10" class="list-group-item designerlist">KAARYAH</a>
  <a href="/store/11" class="list-group-item designerlist">KimAnand</a>
  <a href="" tooltip-placement="bottom" tooltip="Coming Soon!" class="list-group-item designerlist">Liz Paul & Satya Mishra</a>
  <a href="" tooltip-placement="bottom" tooltip="Coming Soon!" class="list-group-item designerlist">MYO creations</a>


</div>
	</div>

  	<div class="col-lg-4">
<div class="list-group">  	
	<h4><b>M-R</b></h4>	
  <a href="/store/12"  class="list-group-item designerlist">Neel Anbal Fashion Studio</a>
  <a href="/store/13"  class="list-group-item designerlist">Neha & Sahil</a>
  <a href="/store/14" class="list-group-item designerlist">Niharika Pandey</a>
  <a href="/store/15" class="list-group-item designerlist">Nitin Gera Designs</a>
  <a href="/store/16"  class="list-group-item designerlist">Preeti S Kapoor</a>
  <a href="/store/17"  class="list-group-item designerlist">Prerna Bharadwaj</a>
  <a href="/store/18"  class="list-group-item designerlist">Qbik</a>
  <a href="/store/19" class="list-group-item designerlist">Richa Aggarwal</a>
  <a href="" tooltip-placement="bottom" tooltip="Coming Soon!" class="list-group-item designerlist">RuGoe</a>

</div>
	</div>


  	<div class="col-lg-4">
<div class="list-group"> 
	<h4><b>S-Z</b></h4>	 	
  <a href="/store/20" class="list-group-item designerlist">Shiba Mir</a>
  <a href="" tooltip-placement="bottom" tooltip="Coming Soon!" class="list-group-item designerlist">Soule Design Studio</a>
  <a href="/store/21" class="list-group-item designerlist">Studio 39 by Punita Dua</a>
  <a href="" tooltip-placement="bottom" tooltip="Coming Soon!" class="list-group-item designerlist">Stylion by Manish Guptaa</a>
  <a href="/store/22" class="list-group-item designerlist">Sulakshna Jasra</a>
  <a href="/store/24" class="list-group-item designerlist">Tanya Berry</a>
  <a href="/store/23" class="list-group-item designerlist">Tastes like Couture</a>
  <a href="/store/25" class="list-group-item designerlist">Zign by Tarveen & Vikul</a>   
</div>
	</div>

		</div>	
<div class="row">
<h4>Join the Clothzy family - Drop us an e-mail at <b><a href="#">contact@clothzy.com</a></b> to get listed today!</h4>
</div>

			</div>