<!DOCTYPE html>
<html>
  <head>


	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="Kartik Dhar">
    
	<link rel="shortcut icon" href="../static/ico/favicon.png">
	

<link href='http://fonts.googleapis.com/css?family=Raleway:100,200' rel='stylesheet' type='text/css'>
    <title>Clothzy: Home</title>

    <!-- Bootstrap core CSS -->
 <link href="../css/bootstrap.css" rel="stylesheet">
<!--  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">-->
    <!-- Custom CSS for site -->

    <!-- <link href="../static/css/founderror.css" rel="stylesheet">  -->
    <link href="../css/clothzy.css" rel="stylesheet">   
    <!--Other 3rd party styles-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,400italic,300,700' rel='stylesheet' type='text/css'>
  
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet"> 


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body style="background:#480048">
<div class="container">
  <div class="row text-center">
<i class="fa fa-wrench fa-4x" style="color:#fff;"></i>
  </div>
  <div class="row text-center">
<h4 style="color:#fff;" class="text-center">We're working on our mobile website, do check us out on your laptop/computer till then!</h4>
</div>
</div>

  <!-- jQuery & bootstrap -->
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    
    <!--<script src="../static/js/bootstrap.min.js"></script>-->

<!-- <script src="../static/js/founderror.js"></script> -->
	<!--Angular.JS link-->




  </body>
</html>
