<div class="container pad-50" id="main"  ><br>
		<div class="row">

<h3>Privacy Policy</h3>      
<p>
<h4>Last updated on 26th January, 2014</h4>
</p>
<p><br>
This privacy policy applies to your use of the Clothzy website located
at www.clothzy.com (hereafter known as Clothzy), but not does apply to
any third party sites that may be linked to them, or any relationships
you may have with the businesses listed on Clothzy.
</p>
<p><br>
The terms \"we\", \"us\", and \"Clothzy\" refer to Clothzy.com and the
terms \"you\" and \"your\" refer to you, as a user of Clothzy.com. The
term \"personal information\" means information that you provide to us
which personally identifies you to be contacted or identified, such as
your name, phone number, email address, and any other data that is
tied to such information.
</p>
<p><br>
By using Clothzy, you agree to be bound by terms of this privacy
policy. If you do not agree with these terms, do not use Clothzy.
</p>


<h4>I. Information we collect and how we use it</h4>
<p>
We use commercially reasonable efforts to ensure that the collection
of personal information is limited to that which is necessary to
fulfill the purposes identified below. If we use your information in a
manner different than the purpose for which it is collected, then we
will ask you for your consent prior to such use.
</p><br>
<p>
<b>Account information:</b> If you create an account to take advantage of the
full range of services offered on Clothzy, we ask for and record
personal information such as your name and email address. We use your
email address to send you updates, news, and newletters (if you
willingly subscribe to the newsletter during signup, or anytime after
sign up) and contact you on behalf of other users (such as other users
who send you compliments, personal messages, or favorite reviews).
</p>
<p>
<b>Submissions:</b> We store and may publicly display your submissions in
order to provide the services that we offer. When we display your
submissions, we do so together with your account name (first name and
last initial). The term \"submissions\" refers to the information that
you submit or post to Clothzy for public display, such as business
ratings, reviews, photos, compliments, and the information that you
display as part of your account profile.
</p>
<p>
<b>Feedback:</b> If you contact us to provide feedback, register a complaint,
or ask a question, we will record any personal information and other
content that you provide in your communication so that we can
effectively respond to your communication.
</p>
<p>
<b>Activity:</b> We record information relating to your use of Clothzy, such
as the searches you undertake, the pages you view, your browser type,
IP address, location, requested URL, referring URL, and timestamp
information. We use this type of information to administer Clothzy and
provide the highest possible level of service to you. We also use this
information in the aggregate to perform statistical analyses of user
behavior and characteristics in order to measure interest in and use
of the various areas of Clothzy. You cannot be identified from this
aggregate information.
</p>
<p>
<b>Cookies:</b> We send cookies to your computer in order to uniquely
indentify your browser and improve the quality of our service. The
term \"cookies\" refers to small pieces of information that a website
sends to your computer's hard drive while you are viewing the site. We
may use both session cookies (which expire once you close your
browser) and persistent cookies (which stay on your computer until you
delete them). Persistent cookies can be removed by following your
browser help file directions. If you choose to disable cookies, some
areas of Clothzy may not work properly or at all. Clothzy uses third
party tools, who may collect anonymous information about your visits
to Clothzy using cookies, and interaction with Clothzy products and
services. Such third parties may also use information about your
visits to Clothzy products and services and other web sites to target
advertisements for Clothzy's products and services. No PII is
collected or used in this process. These third parties do not know or
have access to the name, phone number, address, email address, or any
personally identifying information about Clothzy's users. Clothzy
users can opt-out of sharing this information with third parties by
deactivating cookies, the process of which varies by browser to
browser. Please refer to the help file of your browser to understand
the process of deactivating Cookies on your browser.
</p>
<p>
<b>Enforcement:</b> We may use the information we collect in connection with
your use of Clothzy (including your personal information) in order to
investigate, enforce, and apply our Terms of Service and Privacy
Policy.
</p>
<p>

<h4>II. Transfer of information</h4>
We may distribute your submissions to third parties, as permitted
pursuant to our Terms of Service. The third parties may in turn
publicly display or publish your submissions in connection with their
own websites and media platforms. When we distribute your submissions
to third parties, we typically include your account name (but not your
personal information unless you include your personal information in
your submissions).
</p><br>
<p>
We may share your personal information with third parties to provide
you with services that we offer through Clothzy, conduct quality
assurance testing, facilitate creation of accounts, provide technical
and customer support, or provide specific services, such as
synchronization of your contacts with other software applications, in
accordance with your instructions. These third parties are required
not to use your personal information other than to provide the
services requested by you.
</p><br>
<p>
We may share your personal information with our parent company,
subsidiaries, joint ventures, or other companies under a common
control (collectively, \"Affiliates\") that we may have now or in the
future, in which case we will require them to honor this Privacy
Policy. If another company acquires our company or our assets, that
company will possess your personal information, and will assume the
rights and obligations with respect to that information as described
in this Privacy Policy.
</p><br>
<p>
We may disclose your personal information to third parties in a good
faith belief that such disclosure is reasonably necessary to (a) take
action regarding suspected illegal activities; (b) enforce or apply
our Terms of Service and Privacy Policy; (c) comply with legal
process, such as a search warrant, subpoena, statute, or court order;
or (d) protect our rights, reputation, and property, or that of our
users, affiliates, or the public. Please note that we are not required
to question or contest the validity of any search warrant, subpoena or
other similar governmental request that we receive.
</p><br>
<p>
We may disclose information in the aggregate to third parties relating
to user behavior in connection with actual or prospective business
relationship with those third parties, such as advertisers and content
distributors. For example, we may disclose the number of users that
have been exposed to, or clicked on, advertising banners.
</p>
<p>

<h4>III. Others' information</h4>
You may choose to provide us with another person's e-mail address so
that person may be invited to create an account on this website and
become your friend. We use this information to contact and, if
necessary, remind that person about the invitation. By providing us
with another person's e-mail address, you represent to us that you
have obtained the consent of the person concerned as regards such
disclosure to us of their personal information. All invitees are
provided with the option not to receive further invitations. We may
disclose such information if required to do so in order to comply with
legal process, as described above.

</p>
<p>
<h4>IV. Links</h4>
Clothzy may contain links to third party websites to which we have no
affiliation. Except as set forth herein, we do not share your personal
information with those third parties, and are not responsible for
their privacy practices. We suggest you read the privacy policies on
all such third party websites.
</p>
<p>

<h4>V. Controlling your personal data</h4>
To the extent you include personal information in your submissions
(such as a photo of yourself), third parties may be able to identify
you, associate you with your user account, and contact you. Third
parties can also associate you with your user account using the member
lookup feature on Clothzy, but only if the third party already knows
your full name and you include information in your submission that
allows the third party to distinguish you from other users who might
share the same full name. Please do not include information in your
submissions that you expect to keep private. In addition, you can
reduce the risk of being personally identified by choosing a
fictitious account name, though doing so could detract from the
credibility of your submissions.
</p>
<p><br>
As a registered Clothzy user, you can modify some of your personal
information and your privacy preferences by accessing the \"Account\"
section of this website. For example, you may choose not to receive
e-mail solicitations from Clothzy by accessing the \"Account\" tab on
Clothzy (after signing in) and updating your newsletter/notification
settings.

</p>
<p>
<h4>VI. Security</h4>
Your account is password protected. We use industry standard measures
to protect the personal information that is stored in our database. We
limit the access to your personal information to those employees and
contractors who need access to perform their job function, such as our
customer service personnel. If you have any questions about the
security on Clothzy, please contact us. Although we take appropriate
measures to safeguard against unauthorized disclosures of information,
we cannot assure you that your personal information will never be
disclosed in a manner that is inconsistent with this Privacy Policy.
</p>
<p><br>
You hereby acknowledge that Clothzy is not responsible for any
intercepted information sent via the internet, and you hereby release
us from any and all claims arising out of or related to the use of
intercepted information in any unauthorized manner.

</p>
<p>
<h4>VII. E-mails and opt-out</h4>
You may opt-out of receiving any messages or newsletters from us by
changing your notification settings under the \"Account\" tab after
you log on to Clothzy. Unregistered users who receive e-mails from us
may also opt-out of receiving further e-mails by following the
instructions contained in our e-mails. Despite your indicated e-mail
preferences, we may send you notices of any updates to our Terms of
Use or Privacy Policy.


</p>
<p>

<h4>VIII. Terms and modifications to this Privacy Policy</h4>
<p>
We may modify this Privacy Policy at any time, and we will post any
new versions on this page. If we make any material changes in the way
we use your personal information, we will notify you by sending an
e-mail to the last e-mail address you provided to us and/or by
prominently posting notice of the changes on our website. Any such
changes will be effective upon the earlier of thirty (30) calendar
days following our dispatch of an e-mail notice to you or thirty (30)
calendar days following our posting of notice of the changes on our
website. These changes will be effective immediately for new users of
Clothzy. Please note that at all times you are responsible for
updating your personal information to provide us with your most
current e-mail address. In the event that the last e-mail you have
provided us is not valid, or for any reason is not capable of
delivering to you the notice described above, our dispatch of the
e-mail containing such notice will nonetheless constitute effective
notice of the changes described in the notice. In any event, changes
to this Privacy Policy may affect our use of personal information that
you provided us prior to our notification to you of the changes. If
you do not wish to permit changes in our use of your personal
information, you must notify us prior to the effective date of the
changes that you wish to deactivate your account with us. Continued
use of Clothzy following notice of such changes shall indicate your
acknowledgement of such changes and agreement to be bound by the terms
and conditions of such changes.
</p>
<p>
<h4>
IX. Dispute resolution</h4>
If you believe that Clothzy has not adhered to this Privacy Policy you
may write to Clothzy at the following address with the subject "Privacy" at <b>contact@clothzy.com</b>
</p>
<p>

</p>
<p>
In your email, please describe in as much detail as possible ways in
which you believe the Privacy Policy has not been complied with. We
will investigate your complaint promptly.
</p>
<p>

<h4>X. Contacting the website and access to your personal information</h4>
Upon written request, subject to certain exceptions, Clothzy will
inform you of the existence, use, and disclosure of your personal
information and will give you access to that information. Access
requests should be sent to our Privacy Officer, using the contact
information above. When requesting access to your personal
information, we may request specific information from you to enable us
to confirm your identity and right to access, as well as to search for
and provide the personal information that we hold about you. We may
charge you a fee to access your personal information to cover our
costs; however, we will advise you of any fee in advance, which will
be no more than any maximum fee prescribed by law.
</p>
<p>

If you have any questions about this Privacy Policy, you can contact
us using the contact information listed above.

</p>
  </div>
</div>