<!--MAIN CONTAINER-->

<div class="container pad-50">
			<div class="col-lg-9 col-lg-offset-1">

				<div class="row">
					<div class="col-lg-12"><br>
						<h4>Please click on photos of products that you like (only once)</h4>
					</div>

				</div>

				

			<!-- <div class="row list">


					<div class="col-lg-3">
						<div class="thumbnail thumb"><div onclick="javascript: $(this).addClass('faded-out');" id="fade"></div>
							<div class="imgholder"><a ng-href=""><img ng-src="/static/img/Store_1/P_1/1-1.jpg" alt="..."></a></div>
							<div class="caption">
								<div class="productname_holder"><p class="productname sentence-case"><a ng-href="" class="productname"> {{products.name}} </a></p></div>
								<div class="storename_holder"><p class="sentence-case storename"><a ng-href="" class="storename">{{products.store_name}} </a></p></div>
								<p class="sentence-case marketname"><a ng-href="" class="marketname">{{products.location}} </a></p>
								<span ng-if="products.price!=0">
				

							<p class="price">

								<span ng-if="products.price_discounted!=0 && products.price!=0">
									<span class="price-productsearch-page"><i class="fa fa-rupee"></i>{{products.price_discounted | number:0}}</span>
									<span class="strike-price-productsearch-page"><i class="fa fa-rupee"></i>{{products.price | number:0}}</span>
									 <span class="discount-productsearch-page">({{getDiscount_SearchPage($index)}}% Off)</span>
								</span>
								<span ng-if="products.price_discounted == 0 && products.price!=0">
									<span class="price-productsearch-page"><i class="fa fa-rupee"></i>{{products.price | number:0}} </span>
								</span>
							</p>

								</span>
								<span ng-if="products.price==0">
									<p class="price-productsearch-page price">Price on request</p>
								</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3">
						<div class="thumbnail thumb"><div onclick="javascript: $(this).addClass('faded-out');" id="fade"></div>
							<div class="imgholder"><a ng-href=""><img ng-src="/static/img/Store_1/P_1/1-1.jpg" alt="..."></a></div>
							<div class="caption">
								<div class="productname_holder"><p class="productname sentence-case"><a ng-href="" class="productname"> {{products.name}} </a></p></div>
								<div class="storename_holder"><p class="sentence-case storename"><a ng-href="" class="storename">{{products.store_name}} </a></p></div>
								<p class="sentence-case marketname"><a ng-href="" class="marketname">{{products.location}} </a></p>
								<span ng-if="products.price!=0">
					

							<p class="price">

								<span ng-if="products.price_discounted!=0 && products.price!=0">
									<span class="price-productsearch-page"><i class="fa fa-rupee"></i>{{products.price_discounted | number:0}}</span>
									<span class="strike-price-productsearch-page"><i class="fa fa-rupee"></i>{{products.price | number:0}}</span>
									 <span class="discount-productsearch-page">({{getDiscount_SearchPage($index)}}% Off)</span>
								</span>
								<span ng-if="products.price_discounted == 0 && products.price!=0">
									<span class="price-productsearch-page"><i class="fa fa-rupee"></i>{{products.price | number:0}} </span>
								</span>
							</p>

								</span>
								<span ng-if="products.price==0">
									<p class="price-productsearch-page price">Price on request</p>
								</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3">
						<div class="thumbnail thumb"><div onclick="javascript: $(this).addClass('faded-out');" id="fade"></div>
							<div class="imgholder"><a ng-href=""><img ng-src="/static/img/Store_1/P_1/1-1.jpg" alt="..."></a></div>
							<div class="caption">
								<div class="productname_holder"><p class="productname sentence-case"><a ng-href="" class="productname"> {{products.name}} </a></p></div>
								<div class="storename_holder"><p class="sentence-case storename"><a ng-href="" class="storename">{{products.store_name}} </a></p></div>
								<p class="sentence-case marketname"><a ng-href="" class="marketname">{{products.location}} </a></p>
								<span ng-if="products.price!=0">
				

							<p class="price">

								<span ng-if="products.price_discounted!=0 && products.price!=0">
									<span class="price-productsearch-page"><i class="fa fa-rupee"></i>{{products.price_discounted | number:0}}</span>
									<span class="strike-price-productsearch-page"><i class="fa fa-rupee"></i>{{products.price | number:0}}</span>
									 <span class="discount-productsearch-page">({{getDiscount_SearchPage($index)}}% Off)</span>
								</span>
								<span ng-if="products.price_discounted == 0 && products.price!=0">
									<span class="price-productsearch-page"><i class="fa fa-rupee"></i>{{products.price | number:0}} </span>
								</span>
							</p>

								</span>
								<span ng-if="products.price==0">
									<p class="price-productsearch-page price">Price on request</p>
								</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3">
						<div class="thumbnail thumb"><div onclick="javascript: $(this).addClass('faded-out');" id="fade"></div>
							<div class="imgholder"><a ng-href=""><img ng-src="/static/img/Store_1/P_1/1-1.jpg" alt="..."></a></div>
							<div class="caption">
								<div class="productname_holder"><p class="productname sentence-case"><a ng-href="" class="productname"> {{products.name}} </a></p></div>
								<div class="storename_holder"><p class="sentence-case storename"><a ng-href="" class="storename">{{products.store_name}} </a></p></div>
								<p class="sentence-case marketname"><a ng-href="" class="marketname">{{products.location}} </a></p>
								<span ng-if="products.price!=0">
		

							<p class="price">

								<span ng-if="products.price_discounted!=0 && products.price!=0">
									<span class="price-productsearch-page"><i class="fa fa-rupee"></i>{{products.price_discounted | number:0}}</span>
									<span class="strike-price-productsearch-page"><i class="fa fa-rupee"></i>{{products.price | number:0}}</span>
									 <span class="discount-productsearch-page">({{getDiscount_SearchPage($index)}}% Off)</span>
								</span>
								<span ng-if="products.price_discounted == 0 && products.price!=0">
									<span class="price-productsearch-page"><i class="fa fa-rupee"></i>{{products.price | number:0}} </span>
								</span>
							</p>

								</span>
								<span ng-if="products.price==0">
									<p class="price-productsearch-page price">Price on request</p>
								</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3">
						<div class="thumbnail thumb"><div onclick="javascript: $(this).addClass('faded-out');" id="fade"></div>
							<div class="imgholder"><a ng-href=""><img ng-src="/static/img/Store_1/P_1/1-1.jpg" alt="..."></a></div>
							<div class="caption">
								<div class="productname_holder"><p class="productname sentence-case"><a ng-href="" class="productname"> {{products.name}} </a></p></div>
								<div class="storename_holder"><p class="sentence-case storename"><a ng-href="" class="storename">{{products.store_name}} </a></p></div>
								<p class="sentence-case marketname"><a ng-href="" class="marketname">{{products.location}} </a></p>
								<span ng-if="products.price!=0">
					

							<p class="price">

								<span ng-if="products.price_discounted!=0 && products.price!=0">
									<span class="price-productsearch-page"><i class="fa fa-rupee"></i>{{products.price_discounted | number:0}}</span>
									<span class="strike-price-productsearch-page"><i class="fa fa-rupee"></i>{{products.price | number:0}}</span>
									 <span class="discount-productsearch-page">({{getDiscount_SearchPage($index)}}% Off)</span>
								</span>
								<span ng-if="products.price_discounted == 0 && products.price!=0">
									<span class="price-productsearch-page"><i class="fa fa-rupee"></i>{{products.price | number:0}} </span>
								</span>
							</p>

								</span>
								<span ng-if="products.price==0">
									<p class="price-productsearch-page price">Price on request</p>
								</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3">
						<div class="thumbnail thumb"><div onclick="javascript: $(this).addClass('faded-out');" id="fade"></div>
							<div class="imgholder"><a ng-href=""><img ng-src="/static/img/Store_1/P_1/1-1.jpg" alt="..."></a></div>
							<div class="caption">
								<div class="productname_holder"><p class="productname sentence-case"><a ng-href="" class="productname"> {{products.name}} </a></p></div>
								<div class="storename_holder"><p class="sentence-case storename"><a ng-href="" class="storename">{{products.store_name}} </a></p></div>
								<p class="sentence-case marketname"><a ng-href="" class="marketname">{{products.location}} </a></p>
								<span ng-if="products.price!=0">
					

							<p class="price">

								<span ng-if="products.price_discounted!=0 && products.price!=0">
									<span class="price-productsearch-page"><i class="fa fa-rupee"></i>{{products.price_discounted | number:0}}</span>
									<span class="strike-price-productsearch-page"><i class="fa fa-rupee"></i>{{products.price | number:0}}</span>
									 <span class="discount-productsearch-page">({{getDiscount_SearchPage($index)}}% Off)</span>
								</span>
								<span ng-if="products.price_discounted == 0 && products.price!=0">
									<span class="price-productsearch-page"><i class="fa fa-rupee"></i>{{products.price | number:0}} </span>
								</span>
							</p>

								</span>
								<span ng-if="products.price==0">
									<p class="price-productsearch-page price">Price on request</p>
								</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3">
						<div class="thumbnail thumb"><div onclick="javascript: $(this).addClass('faded-out');" id="fade"></div>
							<div class="imgholder"><a ng-href=""><img ng-src="/static/img/Store_1/P_1/1-1.jpg" alt="..."></a></div>
							<div class="caption">
								<div class="productname_holder"><p class="productname sentence-case"><a ng-href="" class="productname"> {{products.name}} </a></p></div>
								<div class="storename_holder"><p class="sentence-case storename"><a ng-href="" class="storename">{{products.store_name}} </a></p></div>
								<p class="sentence-case marketname"><a ng-href="" class="marketname">{{products.location}} </a></p>
								<span ng-if="products.price!=0">
				

							<p class="price">

								<span ng-if="products.price_discounted!=0 && products.price!=0">
									<span class="price-productsearch-page"><i class="fa fa-rupee"></i>{{products.price_discounted | number:0}}</span>
									<span class="strike-price-productsearch-page"><i class="fa fa-rupee"></i>{{products.price | number:0}}</span>
									 <span class="discount-productsearch-page">({{getDiscount_SearchPage($index)}}% Off)</span>
								</span>
								<span ng-if="products.price_discounted == 0 && products.price!=0">
									<span class="price-productsearch-page"><i class="fa fa-rupee"></i>{{products.price | number:0}} </span>
								</span>
							</p>

								</span>
								<span ng-if="products.price==0">
									<p class="price-productsearch-page price">Price on request</p>
								</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3">
						<div class="thumbnail thumb"><div onclick="javascript: $(this).addClass('faded-out');" id="fade"></div>
							<div class="imgholder"><a ng-href=""><img ng-src="/static/img/Store_1/P_1/1-1.jpg" alt="..."></a></div>
							<div class="caption">
								<div class="productname_holder"><p class="productname sentence-case"><a ng-href="" class="productname"> {{products.name}} </a></p></div>
								<div class="storename_holder"><p class="sentence-case storename"><a ng-href="" class="storename">{{products.store_name}} </a></p></div>
								<p class="sentence-case marketname"><a ng-href="" class="marketname">{{products.location}} </a></p>
								<span ng-if="products.price!=0">
				

							<p class="price">

								<span ng-if="products.price_discounted!=0 && products.price!=0">
									<span class="price-productsearch-page"><i class="fa fa-rupee"></i>{{products.price_discounted | number:0}}</span>
									<span class="strike-price-productsearch-page"><i class="fa fa-rupee"></i>{{products.price | number:0}}</span>
									 <span class="discount-productsearch-page">({{getDiscount_SearchPage($index)}}% Off)</span>
								</span>
								<span ng-if="products.price_discounted == 0 && products.price!=0">
									<span class="price-productsearch-page"><i class="fa fa-rupee"></i>{{products.price | number:0}} </span>
								</span>
							</p>

								</span>
								<span ng-if="products.price==0">
									<p class="price-productsearch-page price">Price on request</p>
								</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3">
						<div class="thumbnail thumb"><div onclick="javascript: $(this).addClass('faded-out');" id="fade"></div>
							<div class="imgholder"><a ng-href=""><img ng-src="/static/img/Store_1/P_1/1-1.jpg" alt="..."></a></div>
							<div class="caption">
								<div class="productname_holder"><p class="productname sentence-case"><a ng-href="" class="productname"> {{products.name}} </a></p></div>
								<div class="storename_holder"><p class="sentence-case storename"><a ng-href="" class="storename">{{products.store_name}} </a></p></div>
								<p class="sentence-case marketname"><a ng-href="" class="marketname">{{products.location}} </a></p>
								<span ng-if="products.price!=0">
		

							<p class="price">

								<span ng-if="products.price_discounted!=0 && products.price!=0">
									<span class="price-productsearch-page"><i class="fa fa-rupee"></i>{{products.price_discounted | number:0}}</span>
									<span class="strike-price-productsearch-page"><i class="fa fa-rupee"></i>{{products.price | number:0}}</span>
									 <span class="discount-productsearch-page">({{getDiscount_SearchPage($index)}}% Off)</span>
								</span>
								<span ng-if="products.price_discounted == 0 && products.price!=0">
									<span class="price-productsearch-page"><i class="fa fa-rupee"></i>{{products.price | number:0}} </span>
								</span>
							</p>

								</span>
								<span ng-if="products.price==0">
									<p class="price-productsearch-page price">Price on request</p>
								</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3">
						<div class="thumbnail thumb"><div onclick="javascript: $(this).addClass('faded-out');" id="fade"></div>
							<div class="imgholder"><a ng-href=""><img ng-src="/static/img/Store_1/P_1/1-1.jpg" alt="..."></a></div>
							<div class="caption">
								<div class="productname_holder"><p class="productname sentence-case"><a ng-href="" class="productname"> {{products.name}} </a></p></div>
								<div class="storename_holder"><p class="sentence-case storename"><a ng-href="" class="storename">{{products.store_name}} </a></p></div>
								<p class="sentence-case marketname"><a ng-href="" class="marketname">{{products.location}} </a></p>
								<span ng-if="products.price!=0">
			

							<p class="price">

								<span ng-if="products.price_discounted!=0 && products.price!=0">
									<span class="price-productsearch-page"><i class="fa fa-rupee"></i>{{products.price_discounted | number:0}}</span>
									<span class="strike-price-productsearch-page"><i class="fa fa-rupee"></i>{{products.price | number:0}}</span>
									 <span class="discount-productsearch-page">({{getDiscount_SearchPage($index)}}% Off)</span>
								</span>
								<span ng-if="products.price_discounted == 0 && products.price!=0">
									<span class="price-productsearch-page"><i class="fa fa-rupee"></i>{{products.price | number:0}} </span>
								</span>
							</p>

								</span>
								<span ng-if="products.price==0">
									<p class="price-productsearch-page price">Price on request</p>
								</span>
							</div>
						</div>
					</div>										

				</div> -->
			<br>
		</div> <!-- /span -->
	</div> <!-- /row -->
</div> <!-- /container -->

