<!--MAIN CONTAINER-->

<div class="container pad-50">

	<div class="col-lg-3">
		<div class=" navbar navbar-default sidebar-nav-fixed"  data-spy="affix"  data-offset-top="750">
			<ul class="nav nav-stacked sidebar-text">

				<li class="active"><a>location</a>

					<ul class="nav">
						<li ng-repeat="filterout in searchResults.filters.location">
							<div class="checkbox">
								<input id="{{filterout}}" type="checkbox" name="check" checklist-model="filters.location" checklist-value="filterout">
								<label for="{{filterout}}" class="checklabel">
									{{filterout}}
								</label>
							</div>
						</li>  
					</ul>

				</li>
				<hr class="sidebar-divider">
				<li class="active sideheader" ng-controller="DemoController"><a>Price</a>
					<ul class="nav"><div style="padding: 0 15px">
						<div range-slider min="demo2.range.min" max="demo2.range.max" model-min="demo2.minPrice" model-max="demo2.maxPrice" filter="currency" filter-options="Rs. " step="100"></div></div>
					</ul>
				</li>
				<hr class="sidebar-divider">					
				<li class="active"><a> Color </a>

					<ul class="nav">
						<li ng-repeat="filterout in searchResults.filters.color">
							<div class="checkbox">
								<input id="{{filterout}}" type="checkbox" name="check" value="{{filterout}}">
								<label for="{{filterout}}" class="checklabel">
									{{filterout}}
								</label>
							</div>
						</li>  
					</ul>			
					<hr class="sidebar-divider">					
					<li class="active"><a> Size </a>
						
						<ul class="nav">
							<li ng-repeat="filterout in searchResults.filters.size">
								<div class="checkbox">
									<input id="{{filterout}}" type="checkbox" name="check" value="{{filterout}}">
									<label for="{{filterout}}" class="checklabel">
										{{filterout}}
									</label>
								</div>
							</li>  
						</ul>			
						<hr class="sidebar-divider">					
						<li class="active"><a>Discount</a>

							<ul class="nav">
								<li ng-repeat="filterout in searchResults.filters.discount">
									<div class="checkbox" ng-model="{{filterout}}">
										<input id="{{filterout}}" type="checkbox" name="check" value="{{filterout}}">
										<label for="{{filterout}}" class="checklabel">
											{{filterout}}
										</label>
									</div>
								</li>  
							</ul>

						</li>
						<hr class="sidebar-divider">					
						<li class="active"><a> Occasion </a>

							<ul class="nav">
								<li ng-repeat="filterout in searchResults.filters.category">
									<div class="checkbox">
										<input id="{{filterout}}" type="checkbox" name="check" value="{{filterout}}">
										<label for="{{filterout}}" class="checklabel">
											{{filterout}}
										</label>
									</div>
								</li>  
							</ul>


						</li>

					</ul>
				</div> <!-- /sidebar -->


			</div>
			<div class="col-lg-9">
				<div class="row"><br>
					<div class="col-lg-6">
						<ol class="breadcrumb">
							<li><a href="#">Home</a></li>
							<li><a href="#">Women</a></li>
							<li><a href="#">Ethnic Wear</a></li>
							<li><a href="#">Sarees</a></li>
						</ol>
					</div>
					<div class="col-lg-6">
						<ul class="nav nav-pills navbar-right">

							<li class="active"><a href="#">Product View</a></li>

							<li><a href="StoreSearch-test.html">Store View</a></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-8">
						<p ><em>Displaying {{searchResults.count}} results for "{{displayQuery.product}} in {{displayQuery.location}}"</em></p>
					</div>
					<div class="col-lg-4">
						<div class="row">
							<div class="col-lg-4 col-lg-offset-3"> <p class="sortby">Sort by:</p> </div>
							<div class="col-lg-5">
								<div class="btn-group">
									<button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
										Relevance  &nbsp;<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#">Relevance</a></li>
										<li><a href="#">Price (High to Low)</a></li>
										<li><a href="#">Price (Low to High)</a></li>
										<li><a href="#">Name (A-Z)</a></li>
										<li><a href="#">Name (Z-A)</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<br>
			<!-- Button trigger modal -\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
			
			Modal -->
			

			
			
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">	
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title body-head" style="display:inline">Supernet Cotton Saree </h4>

							<div class="subtext">Rating: 
								<span class="gold">
									<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
								</span> 2 Ratings | 
								<a href="#">1 Review</a>
							</div>
						</div>
						<div class="modal-body">
							<div class="container">
								<div class="row">

									<!--Image-->
									<div class="col-lg-7">

										<img class="img-enlarged" src="img/featured-product-2.jpg" alt="...">


									</div>


									<!--RHS content of modal-->
									<div class="col-lg-5">

										<div class="row modalcontent">
											<div class="col-lg-4">
												Price: 

											</div>
											<div class="col-lg-8">
												<p>		<i class="fa fa-rupee"></i> 5,000 (0% Discount)</p>

											</div>
										</div>


										<div class="row modalcontent">
											<div class="col-lg-4">
												Colour: 

											</div>
											<div class="col-lg-8">
												<p>	<i class="fa fa-circle purple-colour"></i>	Purple </p>

											</div>
										</div>

										<div class="row modalcontent">
											<div class="col-lg-4">
												Size: 

											</div>
											<div class="col-lg-8">
												<p>			Free Size</p>

											</div>
										</div>

										<div class="row modalcontent">
											<div class="col-lg-4">
												Material

											</div>
											<div class="col-lg-8">
												<p> Silk</p>

											</div>
										</div>

										<div class="row modalcontent">
											<div class="col-lg-8 col-lg-offset-2">
												<div class="alert alert-success"><p class="text-center">In Stock!</p></div>
											</div>
										</div>																																	
										<hr>
										<div class="row modalcontent">
											<div class="col-lg-12"><h4>XYZ Store</h4></div>
											<div class="col-lg-2">
												<i class="fa fa-phone fa-lg icon"></i>
											</div>
											<div class="col-lg-10">
												<p>011-25930253</p>
											</div>
										</div>
										<div class="row modalcontent">
											<div class="col-lg-2">
												<i class="fa fa-location-arrow fa-lg icon"></i>
											</div>
											<div class="col-lg-10">
												<p>23, Abc Road, New Delhi - 110033</p>
											</div>
										</div>

										<div class="row modalcontent">
											<div class="col-lg-2">
												<i class="fa fa-clock-o fa-lg icon"></i>
											</div>
											<div class="col-lg-10">
												<p>10AM - 10PM</p>
											</div></div><br>
											<button class="btn btn-default" onClick="window.location.href='ProductHome-test.html'">See More Details &raquo;</button>
											<button class="btn btn-default" onClick="window.location.href='StoreHome-test.html'">Visit Store &raquo;</button>
											<br>

										</div>

									</div>
								</div>
							</div>

						</div><!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->



				<div class="row">
					<!-- REALLY Dirty code, ideally do a nested ng-repeat on a group of items -->

					<div class="col-lg-3" ng-repeat='val in productRow1'>
						<div ng-controller="ModalDemoCtrl">
							<script type="text/ng-template" id="myModalContent.html">
								<div class="modal-header">
								<h4>{{searchResults.products[val].name}} </h4>
									<div class="subtext">Rating: 
										<span class="gold">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star-half-o"></i>
											<i class="fa fa-star-o"></i>
											<i class="fa fa-star-o"></i>
										</span> 2 Ratings | 
										<a href="#">1 Review</a>
									</div>	
								</div>
								<div class="modal-body">
									{{searchResults.products[val].name}}
									<div class="thumbnail thumb">
							<p> {{ searchResults.products[val].store }} </p>
							<a class="quickView btn btn-default" data-toggle="modal" href="#myModal">Quick Look</a>
							<a href="ProductHome-test.html"><img ng-src="static/img/Store_{{searchResults.products[val].store}}/P_{{searchResults.products[val].id}}/1-1.jpg" alt="..."></a>
							<div class="caption">
								<p class="product-name"> {{searchResults.products[val].name}} </p>
								<p class="store-name">{{searchResults.products[val].store}}</p>
								<p class="price"><i class="fa fa-rupee"></i> {{searchResults.products[val].price}}</p>

							</div>
						</div>
								</div>
								<div class="modal-footer">
									<button class="btn btn-primary" ng-click="ok()">OK</button>
									<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
								</div>
							</script>

							<button class="btn btn-default" ng-click="open()">Quick View</button>
						</div>
						<div class="thumbnail thumb">
							<p> {{ searchResults.products[val].store }} </p>
							<a class="quickView btn btn-default" data-toggle="modal" href="#myModal">Quick Look</a>
							<a href="ProductHome-test.html"><img ng-src="static/img/Store_{{searchResults.products[val].store}}/P_{{searchResults.products[val].id}}/1-1.jpg" alt="..."></a>
							<div class="caption">
								<p class="product-name"> {{searchResults.products[val].name}} </p>
								<p class="store-name">{{searchResults.products[val].store}}</p>
								<p class="price"><i class="fa fa-rupee"></i> {{searchResults.products[val].price}}</p>

							</div>
						</div>
					</div>
				</div>
			</div>

				<br>

				<div class="row">
					<div class="col-lg-3" ng-repeat='val in productRow2'>
						<div class="thumbnail thumb">
							<p> {{ searchResults.products[val].store }} </p>
							<a class="quickView btn btn-default" data-toggle="modal" href="#myModal">Quick Look</a>
							<a href="ProductHome-test.html"><img ng-src="/static/Store_{{searchResults.products[val].store}}/Product_{{searchResults.products[val].id}}/1-1.jpg" alt="..."></a>
							<div class="caption">
								<p class="product-name"> {{searchResults.products[val].name}} </p>
								<p class="store-name">{{searchResults.products[val].store}}</p>
								<p class="price"><i class="fa fa-rupee"></i> {{searchResults.products[val].price}}</p>

							</div>
						</div>
					</div>
				</div>				
				<br>

				<div class="row">
					<div class="col-lg-3" ng-repeat='val in productRow3'>
						<div class="thumbnail thumb">
							<p> {{ searchResults.products[val].store }} </p>
							<a class="quickView btn btn-default" data-toggle="modal" href="#myModal">Quick Look</a>
							<a href="ProductHome-test.html"><img ng-src="/static/Store_{{searchResults.products[val].store}}/Product_{{searchResults.products[val].id}}/1-1.jpg" alt="..."></a>
							<div class="caption">
								<p class="product-name"> {{searchResults.products[val].name}} </p>
								<p class="store-name">{{searchResults.products[val].store}}</p>
								<p class="price"><i class="fa fa-rupee"></i> {{searchResults.products[val].price}}</p>

							</div>
						</div>
					</div>
					
				</div>			
				<br>
				<div class="row">
					<div class="col-lg-3" ng-repeat='val in productRow4'>
						<div class="thumbnail thumb">
							<p> {{ searchResults.products[val].store }} </p>
							<a class="quickView btn btn-default" data-toggle="modal" href="#myModal">Quick Look</a>
							<a href="ProductHome-test.html"><img ng-src="/static/Store_{{searchResults.products[val].store}}/Product_{{searchResults.products[val].id}}/1-1.jpg" alt="..."></a>
							<div class="caption">
								<p class="product-name"> {{searchResults.products[val].name}} </p>
								<p class="store-name">{{searchResults.products[val].store}}</p>
								<p class="price"><i class="fa fa-rupee"></i> {{searchResults.products[val].price}}</p>

							</div>
						</div>
					</div>
				</div>

				<br>
				<div class="row">
					<div class="col-lg-3" ng-repeat='val in productRow5'>
						<div class="thumbnail thumb">
							<p> {{ searchResults.products[val].store }} </p>
							<a class="quickView btn btn-default" data-toggle="modal" href="#myModal">Quick Look</a>
							<a href="ProductHome-test.html"><img ng-src="/static/Store_{{searchResults.products[val].store}}/Product_{{searchResults.products[val].id}}/1-1.jpg" alt="..."></a>
							<div class="caption">
								<p class="product-name"> {{searchResults.products[val].name}} </p>
								<p class="store-name">{{searchResults.products[val].store}}</p>
								<p class="price"><i class="fa fa-rupee"></i> {{searchResults.products[val].price}}</p>

							</div>
						</div>
					</div>
				</div>

				<br>
				<div class="row">
					<div class="col-lg-3" ng-repeat='val in productRow6'>
						<div class="thumbnail thumb">
							<p> {{ searchResults.products[val].store }} </p>
							<a class="quickView btn btn-default" data-toggle="modal" href="#myModal">Quick Look</a>
							<a href="ProductHome-test.html"><img ng-src="/static/Store_{{searchResults.products[val].store}}/Product_{{searchResults.products[val].id}}/1-1.jpg" alt="..."></a>
							<div class="caption">
								<p class="product-name"> {{searchResults.products[val].name}} </p>
								<p class="store-name">{{searchResults.products[val].store}}</p>
								<p class="price"><i class="fa fa-rupee"></i> {{searchResults.products[val].price}}</p>

							</div>
						</div>
					</div>
				</div>

				<br>
				<div class="row">
					<div class="col-lg-3" ng-repeat='val in productRow7'>
						<div class="thumbnail thumb">
							<p> {{ searchResults.products[val].store }} </p>
							<a class="quickView btn btn-default" data-toggle="modal" href="#myModal">Quick Look</a>
							<a href="ProductHome-test.html"><img ng-src="/static/Store_{{searchResults.products[val].store}}/Product_{{searchResults.products[val].id}}/1-1.jpg" alt="..."></a>
							<div class="caption">
								<p class="product-name"> {{searchResults.products[val].name}} </p>
								<p class="store-name">{{searchResults.products[val].store}}</p>
								<p class="price"><i class="fa fa-rupee"></i> {{searchResults.products[val].price}}</p>

							</div>
						</div>
					</div>
				</div>

				<br>
				
			</div>


			<ul class="pagination pull-right pagination-sm">
				<li><a href="#">&laquo;</a></li>
				<li class="active"><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">&raquo;</a></li>
			</ul>			
			
		</div> <!-- /span -->
	</div> <!-- /row -->
</div> <!-- /container -->

