<div class="container pad-50" id="main"  ><br>
	<div class="row">
		<div class="col-lg-12">	
			<!--BREADCRUMB + VIEW TOGGLE-->
			<div class="row">

				<div class="col-lg-6">
					<ol class="breadcrumb">
						<li><a href="#">Home</a></li>
						<li><a href="#">Women</a></li>
						<li><a href="#">Ethnic Wear</a></li>
						<li><a href="#">Sarees</a></li>
						<li><a href="#">Supernet Cotton Saree</a></li>						
					</ol>
				</div>
				
			</div>

			<!--CONTENT AREA-->
			<div class="row">	
				<!--LHS-->
				<div class="col-lg-3">


					<div class="row pad-20 text-center" style="padding-bottom:5px;">	


						<img ng-src="{{imageURLs[0]}}" class="img-responsive text-center main-product-image" style="width:100%; display: inline-block;" alt="...">
						
					</div>
					<div class="row text-center" style="border: 1px solid #ddd">
							<span ng-repeat="num in range(productData.num_images)" style="cursor:pointer">
								<img ng-src='/static/img/Store_{{storeData.id}}/P_{{productData.id}}/{{num}}-1.jpg' class="img-responsive thumb-product-image" alt="{{productData.name}}_{{num}}" ng-click="togglePhoto($index)">
							</span>
							<!-- <img ng-src="{{imageURLs[0]}}" class="img-responsive thumb-product-image" alt="...">

							<img ng-src="{{imageURLs[1]}}" class="img-responsive thumb-product-image" alt="...">

							<img ng-src="{{imageURLs[2]}}" class="img-responsive thumb-product-image" alt="..."> -->

					</div>

				</div>
				
				<!--CENTER-->
				<div class="col-lg-5">

					<div class="row">
						<div class="col-lg-8">

							<div class="product-header">{{productData.name}}</div>

							<div class="subtext"  tooltip-placement="bottom" tooltip="Coming Soon!">Rating: 
								<span class="gold">
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>							
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
								</span>
								0 Ratings | <a href="">0 Reviews</a>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="product-header price" style="text-align:right;"><i class="fa fa-rupee"></i>{{productData.price}}</div>
							
						</div>
					</div>

					<hr>
					<div class="row">
						<div class="col-lg-6">
							<button type="button" class="btn btn-primary btn-sm" tooltip-placement="bottom" tooltip="Coming Soon!" class="disabled">
								<span class="glyphicon glyphicon-heart"></span> Add to Favourites
							</button> 

						</div>
						<div class="col-lg-6" tooltip-placement="bottom" tooltip="Coming Soon!" class="disabled">
							<span style="margin-top:0; margin-bottom:0">Share: </span><a href=""><i class="fa fa-facebook-square fa-2x fb-icon"></i> </a><a href=""><i class="fa fa-twitter-square fa-2x tw-icon"></i></a><a href=""> <i class="fa fa-pinterest-square fa-2x pi-icon"></i></a>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-lg-12">
							<h4>Overview</h4>
							<p>{{productData.description}}</p>



						</div>
					</div>
					<hr>
					<div class="row">


						<div class="col-lg-3">
							<p>Price: </p>

						</div>
						<div class="col-lg-8 sidecontent">
							<p>
								<i class="fa fa-rupee"></i>
									{{productData.price_discounted}} (0% Discount)
							</p>

						</div>
					</div>


					<div class="row">
						<div class="col-lg-3">
							Colour: 

						</div>
						<div class="col-lg-8 sidecontent">
							<p>		<i class="fa fa-circle purple-colour" style="color:{{productData.color}};"></i> {{productData.color}}</p>



						</div>
					</div>

					<div class="row">
						<div class="col-lg-3">
							Size: 

						</div>
						<div class="col-lg-8 sidecontent">
							
								<span ng-repeat="size in productData.sizes">
									{{size}}  <span> | </span>
								</span>
							

						</div>
					</div>

					<div class="row">
						<div class="col-lg-3">
							Material

						</div>
						<div class="col-lg-8 sidecontent">
							<p> {{productData.material}}</p>

						</div>
					</div>

				</div>


				
				<!--RHS-->
				
				<div class="col-lg-4 left-border">
					<div class="row"><div class="col-lg-12">
						<div class="product-header">Get this product at: </div>
					</div>
					<div class="col-lg-12">
						<div class="row">
							<div class="col-lg-12">
								<h4><a  ng-click="clickForStore()">{{storeData.name}}</a></h4>
							</div>
							<div class="col-lg-2">
								<!--									<p class="small-icon"><span class="glyphicon glyphicon-earphone"></span></p>-->
								<i class="fa fa-phone fa-lg small-icon"></i>

							</div>
							<div class="col-lg-10 sidecontent">
								<p>{{storeData.phone1}}</p>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-2">

								<i class="fa fa-location-arrow fa-lg small-icon"></i>									
							</div>
							<div class="col-lg-10 sidecontent">
								<p>{{storeData.address}}</p>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-2">

								<i class="fa fa-clock-o fa-lg small-icon"></i>											
							</div>
							<div class="col-lg-10 sidecontent">
								<p>{{storeData.time_open}} - {{storeData.time_close}}</p>
							</div>
						</div>
						<div>




							
							<button class="btn btn-default" ng-click="clickForStore()">Visit Store</button><br><br>
						</div>

					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-lg-12">
						<div class="product-header">About the store</div>
						<p>
							{{storeData.description}}

						</p>

					</div>

				</div>


			</div>			

		</div>	



	</div>

</div>

<div class="row">



</div>


</div>