<div class="container pad-50" id="main"  ><br>
	<div class="row">
		<div class="col-lg-12">	
			<!--BREADCRUMB + VIEW TOGGLE-->
			<div class="row">
				
				<div class="col-lg-12">
					<div class="row heirarchy">
						<a href="/" class="sentence-case">Home</a><span class="heirarchy-separator"> &gt; </span>  						
						<a ng-if="productData.sex=='female'" href="/search/products/?sex=female">Women</a>  
						<a ng-if="productData.sex=='male'" href="/search/products/?sex=male">Men</a><span class="heirarchy-separator"> &gt; </span>
						<a ng-href="/search/products/?category={{productData.category}}" class="sentence-case">{{productData.category}}</a><span class="heirarchy-separator"> &gt; </span>				
						<a href="" class="sentence-case">{{productData.name}}</a>												

					</div><br>
				</div>


			</div>

			<!--CONTENT AREA-->
			<div class="row">	
				<!--LHS-->
				<div class="col-lg-3">


					<div class="row pad-20 text-center" style="padding-bottom:5px;">	


						<img ng-src="{{mainURLs}}" class="img-responsive text-center main-product-image" style="width:100%; display: inline-block;" alt="...">
						
					</div>
					<div class="row text-center" style="border: 1px solid #ddd">
							<img ng-repeat="thumbURL in thumbURLs" style="cursor:pointer" ng-src="{{thumbURL}}" class="img-responsive thumb-product-image" 
								alt="{{productData.name}}_$index" ng-click="togglePhoto($index)">
							<!-- <img ng-repeat="num in range(productData.num_images)" style="cursor:pointer"
								ng-src="/static/img/Store_{{storeData.id}}/P_{{productData.id}}/{{num}}-1.jpg" class="img-responsive thumb-product-image" 
								alt="{{productData.name}}_{{num}}" ng-click="togglePhoto($index)"> -->
							<!-- <img ng-src="{{imageURLs[0]}}" class="img-responsive thumb-product-image" alt="...">

							<img ng-src="{{imageURLs[1]}}" class="img-responsive thumb-product-image" alt="...">

							<img ng-src="{{imageURLs[2]}}" class="img-responsive thumb-product-image" alt="..."> -->

					</div>

				</div>
				
				<!--CENTER-->
				<div class="col-lg-5">

					<div class="row">
						<div class="col-lg-12">

							<div class="product-header sentence-case">{{productData.name}}</div>

							<div class="subtext"  tooltip-placement="bottom" tooltip="Coming Soon!">Rating: 
								<span class="gold">
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>							
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
								</span>
								0 Ratings | <a href="">0 Reviews</a>
							</div>
						</div>
						
							
							
						
					</div>

					<hr>
					<div class="row">
						<div class="col-lg-6">
							<button type="button" class="btn btn-primary btn-sm" tooltip-placement="bottom" tooltip="Coming Soon!" class="disabled">
								<span class="glyphicon glyphicon-heart"></span> Add to Favourites
							</button> 

						</div>
						<div class="col-lg-6" tooltip-placement="bottom" tooltip="Coming Soon!" class="disabled">
							<span style="margin-top:0; margin-bottom:0">Share: </span><a href=""><i class="fa fa-facebook-square fa-2x fb-icon"></i> </a><a href=""><i class="fa fa-twitter-square fa-2x tw-icon"></i></a><a href=""> <i class="fa fa-pinterest-square fa-2x pi-icon"></i></a>
						</div>
					</div>
					<hr ng-if="productData.description!=''">
					<div class="row">
						<div ng-if="productData.description!=''" class="col-lg-12">
							<h4>Overview</h4>
							<p>{{productData.description}}</p>



						</div>
					</div>
					<hr>
					<div class="row">


						<div class="col-lg-3">
							<p style="vertical-align:bottom;">Price: </p>

						</div>
						<div class="col-lg-8 sidecontent">
							<p>
								<span ng-if="productData.price==0">
									<span class="price-product-page">Price on Request</span>
								</span>
								<span ng-if="getDiscount()!=0 && productData.price!=0">
									<span class="price-product-page"><i class="fa fa-rupee"></i>{{productData.price_discounted | number:0}} </span>
									<span class="strike-price-product-page"><i class="fa fa-rupee"></i>{{productData.price | number:0}}</span>
									 ({{getDiscount()}}% Discount)
								</span>
								<span ng-if="getDiscount() == 0 && productData.price!=0">
									<span class="price-product-page"><i class="fa fa-rupee"></i>{{productData.price | number:0}} </span>
								</span>
							</p>
						
						</div>
					</div>

					<div class="row">


						<div class="col-lg-3">
							<p style="vertical-align:bottom;">Product Code: </p>

						</div>
						<div class="col-lg-8 sidecontent">
							<p>
								{{productData.sku}}
							</p>
						
						</div>
					</div>


					<div class="row">
						<div class="col-lg-3">
							Colour: 

						</div>
						<div class="col-lg-8 sidecontent">
							<p class="sentence-case">		<i class="fa fa-circle {{productData.color}}-colour"></i> {{productData.color}}</p>



						</div>
					</div>

					<div class="row">
						<div class="col-lg-3">
							Size: 

						</div>
						<div class="col-lg-8 sidecontent">
							
								<span ng-repeat="size in productData.sizes">
									{{size}}  <span> | </span>
								</span>
								<span ng-if="productData.made_to_order == true"> Made to order </span>
							

						</div>
					</div>

					<div class="row">
						<div class="col-lg-3">
							Material: 

						</div>
						<div class="col-lg-8 sidecontent sentence-case">
							<p> {{productData.material}}</p>

						</div>
					</div>

				</div>


				
				<!--RHS-->
				
				<div class="col-lg-4 left-border">
					<div class="row"><div class="col-lg-12">
						<div class="product-header">Get this product at: </div>
					</div>
					<div class="col-lg-12">
						<div class="row">
							<div class="col-lg-12">
								<h4><a  ng-click="clickForStore()" class="storename-productpage">{{storeData.name}} &raquo;</a></h4>
							</div>
							<div class="col-lg-1">
								<!--									<p class="small-icon"><span class="glyphicon glyphicon-earphone"></span></p>-->
								<i class="fa fa-phone fa-lg small-icon" style="vertical-align:-50%"></i>

							</div>
							<div class="col-lg-11 sidecontent">
								<p><button popover-placement="bottom" popover-trigger="focus" Popover-animation="true" popover-title="{{storeData.name}}: {{storeData.phone1}} {{storeData.phone2}}" popover="Don't forget to mention you got their number from Clothzy!" class="btn btn-default btn-sm">Contact store &raquo;</button></p>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-1">

								<i class="fa fa-location-arrow fa-lg small-icon"></i>									
							</div>
							<div class="col-lg-11 sidecontent">
								<p>{{storeData.address}}</p>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-1">

								<i class="fa fa-clock-o fa-lg small-icon"></i>											
							</div>
							<div class="col-lg-11 sidecontent">
								<p>{{storeData.time_open}} - {{storeData.time_close}}</p>
							</div>
						</div>
						<div>




							
							<a class="btn btn-default seemorebutton" ng-href="/search/products/?location={{storeData.name}}">See more products from {{storeData.name}} &raquo;</a><br><br>
						</div>

					</div>
				</div>
				<hr ng-if="storeData.description!=''">
				<div class="row">
					<div class="col-lg-12">
						<div ng-if="storeData.description!=''" class="product-header">About the store</div>
						<p>
							{{storeData.description}}

						</p>

					</div>

				</div>


			</div>			

		</div>	



	</div>

</div>

<div class="row">



</div>


</div>