<!--MAIN CONTAINER-->

<div class="container pad-50">

	<div class="col-lg-3">
		<div class=" navbar navbar-default sidebar-nav-fixed"  data-spy="affix"  data-offset-top="750">
			<ul class="nav nav-stacked sidebar-text">

				<li class="active"><a>Gender</a>
					<ul class="nav">
						<li ng-repeat="filterout in searchResults.filters.sex">
							<div class="checkbox">
								<input id="{{filterout}}" type="checkbox" name="check" checklist-model="filters.location" checklist-value="filterout">
								<label for="{{filterout}}" class="checklabel">
									{{filterout[0]}} ({{filterout[1]}})
								</label>
							</div>
						</li>  
					</ul>
				</li>
				<hr class="sidebar-divider">
				<li class="active"><a>Location</a>
					<ul class="nav">
						<li ng-repeat="filterout in searchResults.filters.location">
							<div class="checkbox">
								<input id="{{filterout}}" type="checkbox" name="check" value="{{filterout[0]}}" checklist-value="filterout">
								<label for="{{filterout}}" class="checklabel">
									{{filterout[0]}} ({{filterout[1]}})
								</label>
							</div>
						</li>  
					</ul>
				</li>
				<hr class="sidebar-divider">
				<li class="active sideheader" ng-controller="DemoController"><a>Price</a>
					<ul class="nav"><div style="padding: 0 15px">
						<div range-slider min="demo2.range.min" max="demo2.range.max" model-min="demo2.minPrice" model-max="demo2.maxPrice" filter="currency" filter-options="Rs. " step="100"></div></div>
					</ul>
				</li>
				<hr class="sidebar-divider">					
				<li class="active"><a> Color </a>

					<ul class="nav">
						<li ng-repeat="filterout in searchResults.filters.color">
							<div class="checkbox">
								<input id="{{filterout}}" type="checkbox" name="check" value="{{filterout}}" checklist-value="filterout" ng-model="searchFilters['color'][$index]" ng-change="checkdisp($index)">
								<label for="{{filterout}}" class="checklabel">
									{{filterout[0]}} ({{filterout[1]}})
								</label>
							</div>
						</li>  
					</ul>			
					<hr class="sidebar-divider">					
					<li class="active"><a> Size </a>
						
						<ul class="nav">
							<li ng-repeat="filterout in searchResults.filters.sizes">
								<div class="checkbox">
									<input id="{{filterout}}" type="checkbox" name="check" value="{{filterout}}">
									<label for="{{filterout}}" class="checklabel">
										{{filterout[0]}} ({{filterout[1]}})
									</label>
								</div>
							</li>  
						</ul>			
						<hr class="sidebar-divider">					
						<li class="active"><a>Discount</a>

							<ul class="nav">
								<li ng-repeat="filterout in searchResults.filters.discount">
									<div class="checkbox" ng-model="{{filterout}}">
										<input id="{{filterout}}" type="checkbox" name="check" value="{{filterout}}">
										<label for="{{filterout}}" class="checklabel">
											{{filterout[0]}} ({{filterout[1]}})
										</label>
									</div>
								</li>  
							</ul>

						</li>
						<hr class="sidebar-divider">					
						<li class="active"><a> Category </a>

							<ul class="nav">
								<li ng-repeat="filterout in searchResults.filters.category">
									<div class="checkbox">
										<input id="{{filterout}}" type="checkbox" name="check" value="{{filterout}}">
										<label for="{{filterout}}" class="checklabel">
											{{filterout[0]}} ({{filterout[1]}})
										</label>
									</div>
								</li>  
							</ul>


						</li>

					</ul>
				</div> <!-- /sidebar -->


			</div>
			<div class="col-lg-9">
				<div class="row"><br>
					<div class="col-lg-6">
						<ol class="breadcrumb">
							<li><a href="#">Home</a></li>
							<li><a href="#">Women</a></li>
							<!-- <li><a href="#">Ethnic Wear</a></li>
							<li><a href="#">Sarees</a></li> -->
						</ol>
					</div>
					<div class="col-lg-6">
						<ul class="nav nav-pills navbar-right">

							<li class="active"><a href="#">Product View</a></li>

							<li><a href="StoreSearch-test.html">Store View</a></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-8">
						<p ><em><span class="resultstext">Displaying {{searchResults.count}} results matching your search</span></em></p>
					</div>
					<div class="col-lg-4">
						<div class="row">
							<div class="col-lg-4 col-lg-offset-3"> <p class="sortby">Sort by:</p> </div>
							<div class="col-lg-5">
								<div class="btn-group">
									<button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
										Relevance  &nbsp;<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#">Relevance</a></li>
										<li><a href="#" tooltip-placement="bottom" tooltip="Coming Soon!" class="disabled">Price (High to Low)</a></li>
										<li><a href="#" tooltip-placement="bottom" tooltip="Coming Soon!" class="disabled">Price (Low to High)</a></li>
										<li><a href="#" tooltip-placement="bottom" tooltip="Coming Soon!" class="disabled">Name (A-Z)</a></li>
										<li><a href="#" tooltip-placement="bottom" tooltip="Coming Soon!" class="disabled">Name (Z-A)</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<br>
			<!-- Button trigger modal -\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
			
			Modal -->
			

			
			
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">	
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title body-head" style="display:inline">Supernet Cotton Saree </h4>

							<div class="subtext">Rating: 
								<span class="gold">
									<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
								</span> 2 Ratings | 
								<a href="#">1 Review</a>
							</div>
						</div>
						<div class="modal-body">
							<div class="container">
								<div class="row">

									<!--Image-->
									<div class="col-lg-7">

										<img class="img-enlarged" src="img/featured-product-2.jpg" alt="...">


									</div>


									<!--RHS content of modal-->
									<div class="col-lg-5">

										<div class="row modalcontent">
											<div class="col-lg-4">
												Price: 

											</div>
											<div class="col-lg-8">
												<p>		<i class="fa fa-rupee"></i> 5,000 (0% Discount)</p>

											</div>
										</div>


										<div class="row modalcontent">
											<div class="col-lg-4">
												Colour: 

											</div>
											<div class="col-lg-8">
												<p>	<i class="fa fa-circle purple-colour"></i>	Purple </p>

											</div>
										</div>

										<div class="row modalcontent">
											<div class="col-lg-4">
												Size: 

											</div>
											<div class="col-lg-8">
												<p>			Free Size</p>

											</div>
										</div>

										<div class="row modalcontent">
											<div class="col-lg-4">
												Material

											</div>
											<div class="col-lg-8">
												<p> Silk</p>

											</div>
										</div>

										<div class="row modalcontent">
											<div class="col-lg-8 col-lg-offset-2">
												<div class="alert alert-success"><p class="text-center">In Stock!</p></div>
											</div>
										</div>																																	
										<hr>
										<div class="row modalcontent">
											<div class="col-lg-12"><h4>XYZ Store</h4></div>
											<div class="col-lg-2">
												<i class="fa fa-phone fa-lg icon"></i>
											</div>
											<div class="col-lg-10">
												<p>011-25930253</p>
											</div>
										</div>
										<div class="row modalcontent">
											<div class="col-lg-2">
												<i class="fa fa-location-arrow fa-lg icon"></i>
											</div>
											<div class="col-lg-10">
												<p>23, Abc Road, New Delhi - 110033</p>
											</div>
										</div>

										<div class="row modalcontent">
											<div class="col-lg-2">
												<i class="fa fa-clock-o fa-lg icon"></i>
											</div>
											<div class="col-lg-10">
												<p>10AM - 10PM</p>
											</div></div><br>
											<button class="btn btn-default" ng-href="products/{{products.id}}">See More Details &raquo;</button>
											<button class="btn btn-default" onClick="window.location.href='StoreHome-test.html'">Visit Store &raquo;</button>
											<br>

										</div>

									</div>
								</div>
							</div>

						</div><!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->



				<div class="row list">
					<div class="col-lg-3" ng-repeat='products in searchResults.products'>
						<div class="thumbnail thumb">
							<div class="imgholder"><a ng-href="product/{{products.id}}"><img ng-src="/static/img/Store_{{products.store}}/P_{{products.id}}/1-1.jpg" alt="..."></a></div>
							<div class="caption">
								<div class="productname_holder"><p class="productname sentence-case"><a ng-href="product/{{products.id}}" class="productname"> {{products.name}} </a></p></div>
								<div class="storename_holder"><p class="sentence-case storename"><a ng-href="store/{{products.store}}" class="storename">{{products.store_name}} </a></p></div>
								<p class="sentence-case marketname"><a ng-href="store/{{products.store}}" class="marketname">{{products.location}} </a></p>
								<span ng-if="products.price!=0">
						<!-- 			<p class="price"><i class="fa fa-rupee"></i> {{products.price}}</p> -->

							<p class="price">

								<span ng-if="products.price_discounted!=0 && products.price!=0">
									<span class="price-productsearch-page"><i class="fa fa-rupee"></i>{{products.price_discounted}}</span>
									<span class="strike-price-productsearch-page"><i class="fa fa-rupee"></i>{{products.price}}</span>
									 <span class="discount-productsearch-page">({{getDiscount_SearchPage($index)}}% Off)</span>
								</span>
								<span ng-if="products.price_discounted == 0 && products.price!=0">
									<span class="price-productsearch-page"><i class="fa fa-rupee"></i>{{products.price}} </span>
								</span>
							</p>

								</span>
								<span ng-if="products.price==0">
									<p class="price-productsearch-page price">Price on request</p>
								</span>
							</div>
						</div>
					</div>
				</div>


			<ul class="pagination pull-right pagination-sm">
				<li><a href="#">&laquo;</a></li>
				<li class="active"><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">&raquo;</a></li>
			</ul>			
			<br>
		</div> <!-- /span -->
	</div> <!-- /row -->
</div> <!-- /container -->

