
	<div class="container pad-50">
		
		<div class="col-lg-3"><br>
			<div class=" navbar navbar-default sidebar-nav-fixed" data-spy="affix"  data-offset-top="750">
				<ul class="nav nav-stacked sidebar-text">
			  	
					<!-- <li class="active"><a>Category</a>
						
						<ul class="nav">
							<li><div class="checkbox"><input type="checkbox"><label><a class="sidebar-link"> All categories (2)</a></label></div></li>
							<li><div class="checkbox"><input type="checkbox"><label><a class="sidebar-link"> Ethnic (23)</a></label></div></li>
							<li><div class="checkbox"><input type="checkbox"><label><a class="sidebar-link"> Western (12)</a></label></div></li>
							<li><div class="checkbox"><input type="checkbox"><label><a class="sidebar-link"> Other (1)</a></label></div></li>
						</ul>
						
						
					</li>	
		
				<hr class="sidebar-divider"> -->
			  		<!-- <li class="active"><a>Location</a>
						<ul class="nav">
							<li><div class="checkbox"><input type="checkbox"><label><a class="sidebar-link"> South Delhi</a></label></div></li>
							<li><div class="checkbox"><input type="checkbox"><label><a class="sidebar-link"> West Delhi</a></label></div></li>
							<li><div class="checkbox"><input type="checkbox"><label><a class="sidebar-link"> East Delhi</a></label></div></li>
							<li><div class="checkbox"><input type="checkbox"><label><a class="sidebar-link"> Central Delhi</a></label></div></li>
							<li><div class="checkbox"><input type="checkbox"><label><a class="sidebar-link"> North Delhi</a></label></div></li>
						</ul>
					</li> -->
					<li class="active"><a>Location</a>
					<ul class="nav">
						<li ng-repeat="(key,val) in searchResults.filters.location">
							<div class="checkbox">
								<input id="{{key}}" type="checkbox" name="check" value="key" checklist-value="key" ng-model="searchFilters['location_f'][key]" ng-change="checkdisp($index,'location_f')">
								<label for="{{key}}" class="checklabel sentence-case">
									{{key}} ({{val}})
								</label>
							</div>
						</li>  
					</ul>
					</li>
				<!-- <hr class="sidebar-divider">					
					<li class="active"><a>Discount</a>
						
						<ul class="nav">
							<li><div class="checkbox"><input type="checkbox"><label><a class="sidebar-link"> No Discount (23)</a></label></div></li>
							<li><div class="checkbox"><input type="checkbox"><label><a class="sidebar-link"> &lt;25% (12)</a></label></div></li>
							<li><div class="checkbox"><input type="checkbox"><label><a class="sidebar-link"> 25-50% (2)</a></label></div></li>
							<li><div class="checkbox"><input type="checkbox"><label><a class="sidebar-link"> &gt;50% (1)</a></label></div></li>
						</ul>
												
					</li> -->
				


				</ul>
	    	</div> <!-- /sidebar -->
	
	
		</div>
		<div class="col-lg-9">
			<div class="row"><br>
				<div class="col-lg-6">
				<ol class="breadcrumb">
				  <li><a href="/">Home</a></li>
				  <li><a href="">Search</a></li>

				</ol>
				</div>
					<div class="col-lg-6">
						<ul class="nav nav-pills navbar-right">

							<li><a ng-click="activateProductView()">Product View</a></li>

							<li class="active"><a href="">Store View</a></li>
						</ul>
					</div>
			</div>
			<div class="row">
				<div class="col-lg-8">
				<p><em>Displaying {{searchResults.count}} stores matching your search</em></p>
				</div>
				<div class="col-lg-4">
					<div class="row">
						<div class="col-lg-4 col-lg-offset-3"> <p class="sortby">Sort by:</p> </div>
						<div class="col-lg-5">
							<div class="btn-group">
					  			<button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
					    			Relevance  &nbsp;<span class="caret"></span>
					  			</button>
					  			<ul class="dropdown-menu" role="menu">
					    			<li><a href="">Relevance</a></li>
										<li><a href="" tooltip-placement="bottom" tooltip="Coming Soon!" class="disabled">Price (High to Low)</a></li>
										<li><a href="" tooltip-placement="bottom" tooltip="Coming Soon!" class="disabled">Price (Low to High)</a></li>
										<li><a href="" tooltip-placement="bottom" tooltip="Coming Soon!" class="disabled">Name (A-Z)</a></li>
										<li><a href="" tooltip-placement="bottom" tooltip="Coming Soon!" class="disabled">Name (Z-A)</a></li>
					  			</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br>
<!-- 			<div class="row">	
		        <div class="col-lg-4">
					<div class="thumbnail">
				      <img src="img/featured-store-1.jpg" alt="...">
				      <div class="caption">
				        <h4>XYZ Store, Hauz Khas Village</h4>
				        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor </p>
				        <p><a href="StoreHome-test.html" class="btn btn-primary">Visit Store &raquo;</a></p>
				      </div>
				    </div>
	        	</div> -->
				<div class="row list">
					<div class="col-lg-4" ng-repeat='store in searchResults.stores'>
						<div class="thumbnail thumb-store">
							<div class="storesearch-imgholder"><a ng-href="store/{{store.store}}"><img ng-src="/static/img/Store_{{store.store}}/1-1.jpg" alt="..."></a></div>
								
								<div class="caption">
								<p class="storename-storesearch"><a ng-href="store/{{store.store}}">{{store.name}}</a></h4>
								<p class="marketname-storesearch"><a class="marketname-storesearch" ng-href="/search/stores/?location={{store.location}}">{{store.location}}</a></h4>
									<!-- <p class="storesearch-tags"><span class="label label-primary">Men</span> <span class="label label-primary">Women</span> <span class="label label-primary">Ethnic</span> <span class="label label-primary">Western</span></p> -->
								<p class="storesearch-description">{{store.description}}</p>
							</div>
						</div>
					</div>
				</div>	

				
					</div>	
						<ul class="pagination pull-right pagination-sm">
						  <li><a href="#">&laquo;</a></li>
						  <li class="active"><a href="#">1</a></li>
						  <!-- <li><a href="#">2</a></li>
						  <li><a href="#">3</a></li>
						  <li><a href="#">4</a></li>
						  <li><a href="#">5</a></li> -->
						  <li><a href="#">&raquo;</a></li>
						</ul>			
			
	    </div> <!-- /span -->
	  </div> <!-- /row -->
	</div> <!-- /container -->
