
<div class="container pad-50" id="main" ng-model="storeData"><br>

	<div class="row">

		<div class="col-lg-12">
			<div class="row">
				<div class="col-lg-6">
					<ol class="breadcrumb">
						<li><a href="#">Delhi/NCR</a></li>
						<li><a href="#">South Delhi</a></li>
						<li><a href="#">Lajpat Nagar</a></li>
						<li><a href="#">Store ABC</a></li>
					</ol>
				</div>


			</div>

			<div class="row">	
				<div class="col-lg-8">
					<div class="row storebg-header" style="background-image: url('../static/img/Store_{{storeData.id}}/cover.jpg');">
						<div class="store-header">{{storeData.name}}
						</div>
					</div>
					<br>
					<div class="row">
						<tabset>
			

							<tab heading="Collection">
								<div class="row tabrow">
									<br>
									<!-- REALLY Dirty code, ideally do a nested ng-repeat on a group of items -->

									<div class="col-lg-3" ng-repeat='val in productRow1'>
										<div class="thumbnail thumb-storepage">
											<!-- <p> {{ storeProducts.Products[val].store }} </p> -->
											<a class="quickView btn btn-default" data-toggle="modal" href="#myModal">Quick Look</a>
											<a ng-href="product/{{storeProducts.Products[val].id}}"><img ng-src="/static/img/Store_{{storeProducts.Products[val].store}}/P_{{storeProducts.Products[val].id}}/1-1.jpg" alt="..."></a>
											<div class="caption">
												<p class="product-name sentence-case"> {{storeProducts.Products[val].name}} </p>
												<!-- <p class="store-name">{{storeProducts.Products[val].store}}</p> -->
												<p class="price"><i class="fa fa-rupee"></i> {{storeProducts.Products[val].price}}</p>

											</div>
										</div>
									</div><br>
									
								</div>
								<br><a href="">See more products from {{storeData.name}} &raquo;</a>
								</tab>
								<tab heading="Map">
									<iframe width="750" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{storeData.map_url}}"></iframe>
								</tab>
								<tab heading="Photos">
									<!--
									<div ng-repeat="photos in [1,2,3,4]">
										<img ng-src="../static/img/Store_{{storeData.id}}/{{photos}}-2.jpg">
									</div>-->

										<div ng-controller="CarouselDemoCtrl" style="min-height: 305px">
										  <div style="height: 305px">
										    <carousel interval="myInterval">
										      <slide ng-repeat="photos in [1,2,3,4]" active="slide.active">
										        <img ng-src="../static/img/Store_{{storeData.id}}/{{photos}}-2.jpg" style="margin:auto;">
										      </slide>
										    </carousel>
										  </div>
										 </div>

								</tab>
								<tab heading="Designer Bio">
												<br>
												{{storeData.designer_bio}}
								</tab>


							</tabset>
						</div>
					</div>	 

					<div class="col-lg-4">
						<div class="row">
							<div class="col-lg-6 right-border">
								<div class="row">
									<div class="col-lg-2">
										<i class="fa fa-phone small-icon"></i>
									</div>
									<div class="col-lg-10 sidecontent">
										<p>{{storeData.phone1}}</p>
									</div>
								</div>

								<div class="row">
									<div class="col-lg-2">
										<i class="fa fa-location-arrow small-icon"></i>
									</div>
									<div class="col-lg-10 sidecontent">
										<p>{{storeData.address}}</p>
									</div>
								</div>

								<div class="row">
									<div class="col-lg-2">
										<i class="fa fa-clock-o small-icon"></i>
									</div>
									<div class="col-lg-10 sidecontent">
										<p>{{storeData.time_open}} - {{storeData.time_close}}</p>
									</div>
								</div>

								<div class="row">
									<div class="col-lg-2">

										<i class="fa fa-globe fa-lg small-icon"></i>											
									</div>
									<div class="col-lg-10 sidecontent">
										<p><a href="{{storeData.website}}">{{storeData.website}}</a>&nbsp;</p>
									</div>
								</div>				

								<div class="row">
									<div class="col-lg-2">

										<i class="fa fa-facebook-square fa-lg small-icon"></i>											
									</div>
									<div class="col-lg-10 sidecontent">
										<p><a href="{{storeData.fb_link}}">Visit Facebook Page</a>&nbsp;</p>
									</div>
								</div>
							</div>

							<div class="col-lg-6">

								<div class="row"   tooltip-placement="bottom" tooltip="Coming Soon!">
									<div class="col-lg-2">
										<i class="fa fa-heart small-icon"></i>
									</div>
									<div class="col-lg-10 sidecontent">
										<p>Add to Favourites</p>
									</div>
								</div>

								<div class="row"   tooltip-placement="bottom" tooltip="Coming Soon!">
									<div class="col-lg-2">
										<i class="fa fa-pencil-square-o small-icon"></i>
									</div>
									<div class="col-lg-10 sidecontent">
										<p>Write a Review</p>
									</div>
								</div>

								<div class="row"   tooltip-placement="bottom" tooltip="Coming Soon!">
									<div class="col-lg-12">
										<p>Share: 
											<a href="">
												<i class="fa fa-facebook-square fa-2x fb-icon"></i>
											</a>
											<a href="">
												<i class="fa fa-twitter-square fa-2x tw-icon"></i>
											</a>
											<a href="">
												<i class="fa fa-pinterest-square fa-2x pi-icon"></i>
											</a>
										</p>
									</div>
								</div>
							</div>
						</div>


						<hr>
						<div class="row">
							<div class="col-lg-12">
								<h3 class="body-head">About the store</h3>
								<p>
									{{storeData.description}}
								</p>

							</div>
							<hr>

						</div>
					</div>				
				</div>	
			</div>
		</div>
	</div>
