	<!--MAIN CONTAINER-->

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron bg-header container-fluid">
      <div class="container">
        <h2>Hello.</h2>
       <div class="col-md-3 search-text">
 			What are you looking for?
		</div>
		
       <div class="col-md-7">
		<form role="form">
		<div class="input-group">
 		
			<div class="input-group-btn">
	        <button type="button" class=" search-form btn btn-default dropdown-toggle btn-lg" data-toggle="dropdown">All <span class="caret"></span></button>
	        <ul class="dropdown-menu">
	          <li><a href="#">All</a></li>
	          <li class="divider"></li>
	          <li><a href="#">Women</a></li>
	          <li><a href="#">Men</a></li>
	          <li><a href="#">Kids</a></li>
	        </ul>
	      </div><!-- /btn-group -->
	
			<input type="text" placeholder="Search for a product, store or locality" class="form-control search-form input-lg">
			<span class="input-group-btn search-form">
		        <button class="btn btn-danger search-form btn-lg" type="submit" onclick="location.href='ProductSearch-test.html';"><i class="fa fa-search"></i></button>
		      </span>

			</div>
			</form>
		</div>		
             
       </div>
		<div class="examplesearch"><em>Examples: Salwar Kameez in South Delhi, Shahpur Jat, Blazers</em></p>

		</div>

      </div>
    </div>
	<div id="wrap">
    <div class="container" id="main">
      <!-- Example row of columns -->
	<div class="body-head">LATEST DESIGNS</div>
	
      <div class="row">
	     
      
      <div class="col-lg-4"><a href="ProductHome-test.html">
		<h4>Supernet Cotton Saree</h4></a>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="ProductHome-test.html">View details &raquo;</a></p>
      </div>
      <div class="col-lg-2"><a href="ProductHome-test.html">
			<img src="img/featured-product-1.jpg" class="img-responsive img-thumbnail"></a>
      </div>
      <div class="col-lg-4"><a href="ProductHome-test.html">
		<h4>Supernet Cotton Saree 2</h4></a>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="ProductHome-test.html">View details &raquo;</a></p>
      </div>
      <div class="col-lg-2"><a href="ProductHome-test.html">
			<img src="img/featured-product-2.jpg" class="img-responsive img-thumbnail"></a>
      </div>

     
  	</div>

      <hr>

	<h3 class="body-head">FEATURED STORES</h3>
      <div class="row">
        <div class="col-lg-4">
			<div class="thumbnail">
				<a href="StoreHome-test.html">
		      <img src="img/featured-store-1.jpg" alt="..."></a>
		      <div class="caption">
		        <h4><a href="StoreHome-test.html">XYZ Store, Hauz Khas Village</a></h4>
		        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
		        <p><a href="StoreHome-test.html" class="btn btn-default">Visit Store &raquo;</a></p>
		      </div>
		    </div>
        </div>
       <div class="col-lg-4">
			<div class="thumbnail">
				<a href="StoreHome-test.html">				
		      <img src="img/featured-store-2.jpg" alt="..."></a>
		      <div class="caption">
				<a href="StoreHome-test.html">		      	
		        <h4>ABC Store, South Ex II</h4></a>
		        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
		        <p><a href="StoreHome-test.html" class="btn btn-default">Visit Store &raquo;</a></p>
		      </div>
		    </div>
        </div>
       <div class="col-lg-4">
			<div class="thumbnail">
			<a href="StoreHome-test.html">
		      <img src="img/featured-store-3.jpg" alt="..."></a>
		      <div class="caption">
		      	<a href="StoreHome-test.html">
		        <h4>DEF Store, Lajpat Nagar</h4></a>
		        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
		        <p><a href="StoreHome-test.html" class="btn btn-default">Visit Store &raquo;</a></p>
		      </div>
		    </div>
        </div>
      </div>

      <hr>

	<h3 class="body-head">TOP REVIEWERS</h3>
      <div class="row">
		<div class="col-lg-4">
        <ul class="media-list">
		  <li class="media">
		    <a class="pull-left" href="ReviewerHome-test.html">
		      <img class="media-object reviewer-pic" src="img/top-reviewer-1.jpg" alt="...">
		    </a>
		    <div class="media-body">		    <a href="ReviewerHome-test.html">
		      <h4 class="media-heading">Arun Kumar</h4></a>
		      <p>New Delhi<br>
										<span class="green">50</span> <i class="fa fa-thumbs-o-up"></i> | <span class="red">20 </span><i class="fa fa-thumbs-o-down"></i></p>
		    </div>
		  </li>
		<li><h5>Latest Review: XYZ Store, Lajpat Nagar</b></h5>
		<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p></li>
		<a href="#">Read More &raquo;</a>
		</ul>
		</div>
		<div class="col-lg-4">
        <ul class="media-list">
		  <li class="media">
		    <a class="pull-left" href="ReviewerHome-test.html">
		      <img class="media-object reviewer-pic" src="img/top-reviewer-2.jpg" alt="...">
		    </a>
		    <div class="media-body">		    <a href="ReviewerHome-test.html">
		      <h4 class="media-heading">Satish Sharma</h4></a>
		      <p>New Delhi<br>
										<span class="green">50</span> <i class="fa fa-thumbs-o-up"></i> | <span class="red">20 </span><i class="fa fa-thumbs-o-down"></i></p>
		    </div>
		  </li>
		<li><h5>Latest Review: XYZ Store, Lajpat Nagar</b></h5>
		<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p></li>
		<a href="#">Read More &raquo;</a>
		</ul>
		</div>
		<div class="col-lg-4">
        <ul class="media-list">
		  <li class="media">
		    <a class="pull-left" href="ReviewerHome-test.html">
		      <img class="media-object reviewer-pic" src="img/top-reviewer-3.jpg" alt="...">
		    </a>
		    <div class="media-body">		    <a href="ReviewerHome-test.html">
		      <h4 class="media-heading">Priya Das</h4></a>
		      <p>New Delhi<br>
										<span class="green">50</span> <i class="fa fa-thumbs-o-up"></i> | <span class="red">20 </span><i class="fa fa-thumbs-o-down"></i></p>
		    </div>
		  </li>
		<li><h5>Latest Review: XYZ Store, Lajpat Nagar</b></h5>
		<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p></li>
		<a href="#">Read More &raquo;</a>
		</ul>
		</div>
	
      </div>

      <hr>
<div class="text-center"><a href="#"><i class="fa fa-chevron-up"></i> Back to Top</a></div>

    </div> <!-- /container -->
